.bn-contact .imagehome {
  min-height: 130px;
  background-image: url("../../images/contact/img_01-xs.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .bn-contact .imagehome {
    background-image: url("../../images/contact/img_01-sm.jpg");
    min-height: 180px;
  }
}

@media (min-width: 768px) {
  .bn-contact .imagehome {
    background-image: url("../../images/contact/img_01.jpg");
    min-height: 245px;
  }
}

@media (min-width: 992px) {
  .bn-contact .imagehome {
    min-height: 290px;
    margin-top: -0.5rem;
  }
}

.bn-contact .btn-send {
  background: #a8a8a8;
  color: #fff;
}

.bn-contact .btn-send:hover {
  background: #1f97d5;
}

.bn-contact .list .nav .nav-item.home {
  background: url("../../images/news/img_menu.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}

.bn-contact .list .nav .nav-item.home img {
  visibility: hidden;
  max-height: 3rem;
}

.bn-contact .list .nav .nav-item.home h2 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: bold;
}

.bn-contact .list .nav .nav-item .nav-link {
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .bn-contact .list .nav .nav-item .nav-link {
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
  }
}

.bn-contact .list .nav .nav-item .nav-link:hover {
  text-decoration: underline;
}

.bn-contact .list .nav .nav-item .tel {
  background: #c9c9c9;
  padding-top: 0.15rem;
  padding-right: 0.5rem;
  padding-bottom: 0.15rem;
  padding-left: 0.5rem;
}

.bn-contact .list > .container > .nav > .nav-item:first-child {
  width: 175px;
}

.bn-contact .list > .container > .nav .nav > .nav-item:first-child {
  width: 75px;
}

.bn-contact .list > .container > .nav .nav > .nav-item:first-child strong {
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  .bn-contact .list > .container > .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bn-contact .list > .container > .nav > .nav-item:first-child {
    width: initial;
    margin-bottom: .5rem;
  }
}
