.row
	.col-lg-8
		.box.free-size
			.box-header
				h3.title Welcome to BIZ4X, Nguyen
			.box-content.padding.padding-large
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore quia, repellendus ea culpa harum, saepe commodi eos tempore illum, praesentium quibusdam 
					a(href="#") eveniet quod ullam 
					| nostrum sed. Maiores, iure, vel.
				hr 
				.row
					.col-sm-12.xs-center.sm-right
						button.mrb-xs-1r(type="button" class="btn btn-primary-outline") I've set up my products
						| 
						button(type="button" class="btn btn-success-outline") Import Products
		.box.free-size
			.box-content.padding.padding-large
				.media
					.media-left
						a(href='#')
							img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F64x64%0ACreated%20with%20Holder.js%202.8.2.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_153f4d897c4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_153f4d897c4%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%2F%3E%3Cg%3E%3Ctext%20x%3D%2213.84375%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', data-holder-rendered='true', style='width: 64px; height: 64px;')
					.media-body
						a.media-heading(href="#") Top aligned media
							span.label.text-muted.text-sm 21 hours ago
						p
							| Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
						p
							| Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				hr 
				.media
					.media-left
						a(href='#')
							img.media-object(data-src='holder.js/64x64', alt='64x64', src='data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2264%22%20height%3D%2264%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F64x64%0ACreated%20with%20Holder.js%202.8.2.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_153f4d897c4%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_153f4d897c4%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%2F%3E%3Cg%3E%3Ctext%20x%3D%2213.84375%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', data-holder-rendered='true', style='width: 64px; height: 64px;')
					.media-body
						a.media-heading(href="#") Donec sed odio dui
						p Updated the Account: 
							a(href="#") BIZ4X
						.list.text-xs
							.text-muted Time Zone was changed from UTC to Asia/Bangkok
							.text-muted Tax Label was changed to VAT
							.text-muted Tax Number Label was changed to VAT Number
							.text-muted Default Payment Method was changed to 190527
							.text-muted Setup Complete was changed to true
							.text-muted Billing Contact was changed to Nguyen Pham
							.text-muted Default Document Theme was changed to BIZ4X
							.text-muted Default Payment Term was changed to NET30
							.text-muted Default Payment Term was changed to NET30
							.text-muted Primary Location was changed to Primary Location
							.text-muted Primary Billing Location was changed to Primary Location
							.text-muted Default Tax Exempt was changed to Tax Exempt (0.0%)
							.text-muted Default Sales Order Tax Type was changed to Sales Tax (10.0%)
							.text-muted Default Purchase Order Tax Type was changed to Purchases Tax (10.0%)
	.col-lg-4
		.box.free-size
			.box-content.padding.padding-large
				h4.title Guided Tours
				hr
				p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore quia, repellendus ea culpa harum, saepe commodi eos tempore illum, praesentium quibusdam eveniet quod ullam nostrum sed. Maiores, iure, vel.
				ul.nav
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Lorem ipsum dolor sit amet
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Consectetur adipiscing elit
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Integer molestie lorem at massa
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Facilisis in pretium nisl aliquet
					li.nav-item 
						i.icon.ion-android-arrow-dropright
						| 
						| Nulla volutpat aliquam velit
						ul
							li.nav-item
								a.nav-link(href="#")
									| Phasellus iaculis neque
							li.nav-item
								a.nav-link(href="#")
									| Purus sodales ultricies
							li.nav-item
								a.nav-link(href="#")
									| Vestibulum laoreet porttitor sem
							li.nav-item
								a.nav-link(href="#")
									| Ac tristique libero volutpat at
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Faucibus porta lacus fringilla vel
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Aenean sit amet erat nunc
					li.nav-item
						a.nav-link(href="#")
							i.icon.ion-android-arrow-dropright
							| 
							| Eget porttitor lorem
		.box.free-size
			.box-header
				h3.title Stock To Receive
			.box-content.padding.padding-large
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi labore quia, repellendus ea culpa harum, saepe commodi eos tempore illum, praesentium quibusdam eveniet quod ullam nostrum sed. Maiores, iure, vel.
				.list-group.linkitem
					a.list-group-item(href='#')
						i.fa.fa-fw.fa-file
						| Home
						span — BIZ4X (DEMO)
					a.list-group-item(href='#')
						i.fa.fa-fw.fa-file
						| Library
					a.list-group-item(href='#')
						i.fa.fa-fw.fa-file
						| Applications
						span — BIZ4X (DEMO)
					a.list-group-item(href='#')
						i.fa.fa-fw.fa-file
						| Settings