.about-page
	width: 100%
	height: 100%
	z-index: 1
	position: relative
	&:after 
		background: url('../img/map-bg.png')
		content: ''
		width: 100%
		height: 100%
		+opacity(.25)
		position: fixed
		top: 0
		left: 0
		z-index: -1
		background-position: center center
		background-size: cover
		background-attachment: fixed
	main
		width: 100%
		height: 100%
		.lightgallery
			a 
				display: inline-block 
				+pad(0)
				border: 1px solid $color-white
				figure
					height: 70px
					width: 70px
					overflow: hidden
					+transition(all .5s)
					filter: grayscale(1)
					&:hover
						filter: grayscale(0)
		.text-replace
			white-space: pre
			line-height: 1rem
			color:  #000
			.include
				color: #F92672
			.include2
				color: #F92672
			.text
				color: #66D9EF
			.main
				color: #A6E22A
			.main2
				color: #b784f7
			.text2
				color: #E6DB74
			.text3
				color: #fff
		.typed-cursor
			padding-left: 2px
			color: #000
		#page-wrap
			.post
				color: $color-white 
				figure
					position: relative 
					overflow: hidden
					+mar(0)
					img 
						max-width: 100%
				.boxcnt
					+mar(0)
					.boxleft, .boxright
						min-height: 300px
						+pad(0)
						&.padding
							+pad(2rem)
						&.filter
							filter: grayscale(1)
							&:hover
								// filter: grayscale(0)
						.cnt
							.avatar
								width: 80px
								height: 80px
								+mar(0 auto 1rem auto)
								+border-radius(50%)
						#gmap_canvas
							color: $color-black
							height: 400px
							width: 100%
				&.block-3
					.boxright
						&.padding
							+pad(0, bottom)
							a 
								color: $color-white
								i 
									+fz(2rem)
				&.block-1
					i 
						svg
							*
								stroke: $color-white
	@include media-breakpoint-up(lg)
		overflow-x: hidden
		main
			#page-wrap
				display: table
				vertical-align: middle
				height: 100%
				.waptable
					cursor: move
					display: table-cell
					vertical-align: middle
				.post
					-webkit-touch-callout: none /* iOS Safari */
					-webkit-user-select: none   /* Chrome/Safari/Opera */
					-khtml-user-select: none    /* Konqueror */
					-moz-user-select: none      /* Firefox */
					-ms-user-select: none       /* Internet Explorer/Edge */
					user-select: none
					display: table
					min-width: 1000px
					.boxcnt
						display: table
						min-width: 1000px
						.boxleft, .boxright
							display: table-cell
							width: 50%
							vertical-align: top
							min-height: 400px
							height: 400px
							overflow: hidden
							&.padding
								+pad(4rem)
							&.w30
								width: 30%
							&.w40
								width: 40%
							&.w60
								width: 60%
							&.w70
								width: 70%
							
					&.block-1
						+mar(20rem, left)
					&.block-3
						.boxright
							&.padding
								+pad(0, bottom)
								a 
									color: $color-white
									i 
										+fz(2rem)
