.gallery-page
	// background: $color-white
	height: 100%
	overflow: auto
	main
		+mar(5rem,top)
		max-height: 100%
		// background: $color-white
	.gallery-body 
		+pad(2rem)
		h1
			text-transform: uppercase
			color: $color-white
			+mar(2rem,bottom)
		// background: $color-white
	.my-gallery
		+mar(0)
		+pad(0)
		.brick
			// border: 1px solid darken($color-white,15%)
			// padding: 3px
			figure
				+mar(0)
				img
					margin: 0
					display: block
					width: 100%

		