.gallery-page
	// background: $color-white
	height: 100%
	overflow: auto
	.lightgallery
		img 
			max-width: 100%
	header
		position: fixed
		width: 100%
		z-index: 100
		@include media-breakpoint-up(md)
			&.active
				.navbar
					background: rgba(255,255,255,.2)
					+box-shadow(0, 1px, 0px, rgba(255,255,255,.3))
					#BNGlobalMenu 
						.navbar-brand
							i
								svg
									*
										fill: $color-white
								&:before
									background-color: $color-white
						.nav.navbar-right 
							.nav-item
								.nav-link
									color: rgba(255,255,255,.5)
								&.active, &:hover
									.nav-link
										color: $color-white
										&:before
											background-color: $color-white
											bottom: -0.65rem
											top: initial
	main
		+mar(5rem,top)
		max-height: 100%
		@include media-breakpoint-up(md)
			// +pad(0,top)
	// main
		// background: $color-white
	.gallery-body 
		+pad(2rem)
		h1
			text-transform: uppercase
			color: $color-white
			+mar(2rem,bottom)
		// background: $color-white
	.my-gallery
		+mar(0)
		+pad(0)
		.brick
			// border: 1px solid darken($color-white,15%)
			// padding: 3px
			figure
				+mar(0)
				img
					margin: 0
					display: block
					width: 100%

		