$bodyColor: #444;
$preBlue: #2aa1ec;
$preYellow: #f0e68c;
$prePink: #ffa0a0;
$preGreen: #98fb98;
$preWhite: #eee;

#editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
// .include {
//     color: #F92672;
// }

// .include2 {
//     color: #F92672;
// }

// .text {
//     color: #fff;
// }

// p {
//     display: inline;
// }

// .int {
//     color: #66D9EF;
// }

// .main {
//     color: #A6E22A;
// }

// .text2 {
//     color: #E6DB74;
// }

// .div {
//     margin-top: 7%;
//     margin-right: auto;
//     margin-left: 40%;
// }

// .div2 {
//     margin-left: 30px;
// }

// .input-line {
//     width: 1px;
//     heigth: 5px;
//     color: fff;
// }

// hr {
//     background-color: #fff;
//     color: #fff;
//     width: 0.5px;
//     height: 15px;
//     margin-left: 8px;
//     margin-top: -17px;
//     -webkit-animation: display 1s linear infinite;
// }

// @-webkit-keyframes display {
//     50% {
//         opacity: 0;
//     }
// }

// body,html {
//   width: 100%;
//   height: 100%;
//   padding: 0;
//   margin: 0;
// }
// body {
//   background: url(http://omoihouse.com/wp-content/uploads/2013/10/wg_blurred_backgrounds_9.jpg);
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
//   color: $bodyColor;
// }
// .container {
//   padding:  20px 10%;
// }
// h1,
// h2{
//   font-family: "Ubuntu";
//   margin: 0.5em 0 0.1em 0;
// }
// h2 {
//   margin-top: 0.1em;
//   margin-bottom: 2em;  
// }
$serif: "Merriweather",
serif;
$sans: "Lato",
"Helvetica",
"Segoe",
sans-serif;
$code: "Source Code Pro",
"Consolas",
monospace;
.sublime {
        z-index: 2000;
    min-height: 270px;
    min-width: 200px;
    max-width: 3200px;
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    background-image: url(../img/sublime-bg-icons.png), url(../img/sublime-bg-expand.png), url(../img/sublime-bg-top.png), url(../img/sublime-bg-bottom.png);
    background-repeat: no-repeat, no-repeat, repeat-x, repeat-x;
    background-position: top left, top right, top center, bottom center;
    border-radius: 4px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.6);
    text-shadow: none;
    &--fullscreen {
        position: fixed;
        left: 2em;
        right: 2em;
        top: 2em;
        bottom: 2em;
        margin: 0;
        width: auto;
        height: auto;
        max-width: none;
        min-width: none;
        max-height: none;
        min-height: none;
        z-index: 2050;
        transition: all 0.6s ease;
        .sublime-project {
            position: absolute;
            width: auto;
            height: auto;
            left: 0;
            right: 0;
            top: 60px;
            bottom: 25px;
            overflow: auto;
        }
    }
    &__button {
        text-indent: -9999em;
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        width: 24px;
        height: 22px;
        border-radius: 10px;
        top: 0;
        left: 2px;
        &--full {
            left: auto;
            right: 0;
        }
        &--maxi {
            left: 42px;
        }
    }
    &__title,
    &__footer {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        height: 22px;
        line-height: 22px;
    }
    &__title {
        color: #333;
        text-shadow: 0 1px 1px white;
    }
    &__footer {
        background: none;
        color: #ccc;
        font-weight: 300;
        text-align: right;
        position: absolute;
        text-transform: uppercase;
        bottom: -2px;
        right: 20px;
        line-height: 22px;
        width: 150px;
    }
}

.sublime-tabs {
    padding: 0;
    margin: 0;
    width: 100%;
    background: url(../img/sublime-tabs-bg.png);
    overflow: hidden;
    &__tab {
        position: relative;
        display: inline-block;
        height: 29px;
        line-height: 23px;
        margin: 6px 0 0 20px;
        z-index: 1;
        padding-right: 20px;
        background: url(../img/sublime-tab-x-dark.png);
        background-repeat: repeat-x;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            background-repeat: no-repeat;
        }
        &:before {
            width: 20px;
            left: -20px;
            background: url(../img/sublime-tab-l-dark.png);
        }
        &:after {
            width: 20px;
            right: -20px;
            background: url(../img/sublime-tab-r-dark.png);
        }
        &.active {
            z-index: 2;
            a{

            color: #fff;
            }
            background: url(../img/sublime-tab-x.png);
            &:before {
                background: url(../img/sublime-tab-l.png);
            }
            &:after {
                background: url(../img/sublime-tab-r.png);
            }
        }
    }
    &__link,
    &__link:visited {
        font-size: 12px;
        color: #9E9E9E;
        text-decoration: none !important;
        display: inline-block;
        position: relative;
        line-height: 20px;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}

.sublime-tabs__tab {
    &--soon {
        opacity: 0.8;
        .sublime-tabs__link {
            padding-right: 1.2em;
            color: #999;
            &:after {
                content: "\25cf";
                height: 1em;
                line-height: 1em;
                position: absolute;
                right: -20px;
                top: 50%;
                margin-top: -0.5em;
            }
        }
        @media screen and ( max-width: 500px) {
            display: none;
        }
    }
}

.sublime-project {
    font-family: $code;
    padding: 15px 10px 25px;
    display: none;
    &__title {
        font-size: 1.3em;
        font-weight: 900;
        margin: 0 0 0 40px;
        color: #eee;
    }
    &__code {
        background: transparent!important;
        padding: 0.5em 0 0 0em;
        &--indent {
            padding: 0.5em 0 2em 1.8em;
        }
    }
    &.active {
        display: block;
    }
}


/* desert scheme ported from vim to google prettify */

pre.prettyprint {
    display: block;
    background-color: #333
}

pre .nocode {
    background-color: none;
    color: #000
}

pre .str {
    color: #ffa0a0
}


/* string  - pink */

pre .kwd {
    color: #f0e68c;
    font-weight: bold
}

pre .com {
    color: #87ceeb
}


/* comment - skyblue */

pre .typ {
    color: #98fb98
}


/* type    - lightgreen */

pre .lit {
    color: #cd5c5c
}


/* literal - darkred */

pre .pun {
    color: #fff
}


/* punctuation */

pre .pln {
    color: #fff
}


/* plaintext */

pre .tag {
    color: #f0e68c;
    font-weight: bold
}


/* html/xml tag    - lightyellow */

pre .atn {
    color: #bdb76b;
    font-weight: bold
}


/* attribute name  - khaki */

pre .atv {
    color: #ffa0a0
}


/* attribute value - pink */

pre .dec {
    color: #98fb98
}


/* decimal         - lightgreen */


/* Specify class=linenums on a pre to get line numbering */

.sublime 
  ol.linenums {
      margin-top: 0;
      margin-bottom: 0;
      color: #AEAEAE;
      max-height: 400px;
      overflow: auto;
  }
  .sublime--fullscreen
    ol.linenums {
        max-height: 100%;
        overflow: auto;
    }




/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}


/* Alternate shading for lines */

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {}

pre,
code {
    font-family: "Source Code Pro", "Consolas", "Courier New", monospace;
}

pre {
    font-size: 12px;
    background: #303030;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: decimal;
}

pre .yellow * {
    color: $preYellow!important;
}

pre .white * {
    color: $preWhite!important;
}

pre .green * {
    color: $preGreen!important;
}

pre .blue * {
    color: $preBlue!important;
}

pre .pink * {
    color: $prePink!important;
}

pre img {
    vertical-align: top;
    margin: 1.5em 0;
    border-radius: 3px;
}

pre .copy-to-clipboard {}
