link(rel='stylesheet', type='text/css', href='css/vendors.min.css')
link(rel='stylesheet', type='text/css', href='css/main.min.css')
//- link(rel='stylesheet', type='text/css', href='css/vendors.css')
//- link(rel='stylesheet', type='text/css', href='css/main.css')

// inject:css
// endinject