link(rel='stylesheet', type='text/css', href='css/vendors.css')
link(rel='stylesheet', type='text/css', href='css/main.css')
link(rel='stylesheet', type='text/css', href='css/theme-blue.css')

// inject:css
// endinject