section.devmode-btn.devmode-show
  a.btn.btn-sm.btn-muted(href='javascript:void(0);') DEV MODE
section.devmode
  .dev-control
    kbd.mrb-1r DEV MODE
    .devmode-btn
      a.btn.btn-sm.btn-muted.hidegrid(href='javascript:void(0);') HIDE GRID
      a.btn.btn-sm.btn-muted.hidebg(href='javascript:void(0);') HIDE BG
      a.btn.btn-sm.btn-muted.closedev(href='javascript:void(0);') CLOSE DEV MODE
  .container-fluid
    .row
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
      .col-xs-1
        .gitter
