footer
  .container-fluid
    .row.topfoot
      .col-md-4.info.xs-center
        p
          a(href='#')
            i.hvr-grow.app-icon.bn(bn-icon)
        p.slogan.mrt-10 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      .col-md-8.linkfooter.xs-center.sm-left
        h4 Footer Links
        .row
          .col-sm-6.col-lg-4
            nav.list-group
              a.list-group-item.active(href='#') Dapibus ac facilisis in
              a.list-group-item(href='#') Morbi leo risus
              a.list-group-item(href='#') Porta ac consectetur ac
              a.list-group-item(href='#') Vestibulum at eros
          .col-sm-6.col-lg-4
            nav.list-group
              a.list-group-item(href='#') Dapibus ac facilisis in
              a.list-group-item(href='#') Morbi leo risus
              a.list-group-item(href='#') Porta ac consectetur ac
              a.list-group-item(href='#') Vestibulum at eros
          .col-sm-12.col-lg-4.socials.xs-center.lg-right
            ul.list-inline
              li.list-inline-item.hvr-bounce-in
                a(href='#')
                  i.mdi.mdi-linkedin
              li.list-inline-item.hvr-bounce-in
                a(href='#')
                  i.mdi.mdi-facebook
              li.list-inline-item.hvr-bounce-in
                a(href='#')
                  i.mdi.mdi-twitter
              li.list-inline-item.hvr-bounce-in
                a(href='#')
                  i.mdi.mdi-google
            .app-icon.bn-sign.mrt-30(bn-sign)
    .row
      .col-xs-12.copyright.xs-center
        | Copyright 2016 by 
        a(href='#') 4XLabs.
