footer
  .container-fluid
    .row.topfoot
      .col-md-4.info.xs-center
        p
          a(href='/')
            i.hvr-grow.app-icon.bn(bn-icon)
        p.slogan.mrt-10 Tôi từng nghĩ design & coding là sự đam mê để rồi một ngày tôi chợt nhận ra nó chính là cuộc đời này, Tôi là ai mà yêu quá đời này!
      .col-md-8.linkfooter.xs-center.sm-left
        h4 BN Links
        .row
          .col-sm-6.col-lg-4
            nav.list-group
              a.list-group-item(href='/') Home
              a.list-group-item(href='about.html') About
              a.list-group-item(href='info.html') Information
          .col-sm-6.col-lg-4
            nav.list-group
              a.list-group-item(href='gallery.html') Gallery
              a.list-group-item(href='coding.html') Coding
              a.list-group-item(href='portfolio.html') Portfolio
          .col-sm-12.col-lg-4.socials.xs-center.lg-right
            ul.list-inline
              li.list-inline-item.hvr-bounce-in
                a(href='https://vn.linkedin.com/in/baonguyenyam')
                  i.mdi.mdi-linkedin
              li.list-inline-item.hvr-bounce-in
                a(href='https://www.facebook.com/pham.nguyen.bao.nguyen')
                  i.mdi.mdi-facebook
              li.list-inline-item.hvr-bounce-in
                a(href='https://twitter.com/baonguyenyam')
                  i.mdi.mdi-twitter
              li.list-inline-item.hvr-bounce-in
                a(href='https://github.com/baonguyenyam')
                  i.mdi.mdi-github-circle
            .app-icon.bn-sign.mrt-30(bn-sign)
    .row
      .col-xs-12.copyright.xs-center
        | Copyright 2016 by 
        a(href='maito:baonguyenyam@gmail.com') Bao Nguyen.
