header.pos-f-t
  .navbar.navbar-light.navbar-static-top.bd-navbar(role='banner')
    .clearfix.mobile
      button.navbar-toggler.hidden-md-up.pull-sm-right.pull-xs-right(type='button', data-toggle='collapse', data-target='#BNGlobalMenu')
        i.mdi.mdi-menu
      ul.nav.navbar-nav.hidden-md-up
        li.nav-item
          a.navbar-brand(href='/')
            i.hvr-wobble-horizontal.app-icon.bn(bn-icon)
    #BNGlobalMenu.collapse.navbar-toggleable-sm
      a.navbar-brand.hidden-sm-down(href='/')
        i.hvr-wobble-horizontal.app-icon.bn(bn-icon)
      nav
        ul.nav.navbar-nav.navbar-right
          li.nav-item
            a.nav-link(href='about.html')
              | About
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='info.html') Information
          li.nav-item
            a.nav-link(href='gallery.html') Gallery
          li.nav-item
            a.nav-link(href='coding.html') Coding
          li.nav-item
            a.nav-link(href='portfolio.html') Portfolio
          li.nav-item
            a.nav-link(href='album.html') Album
          li.nav-item
            a.nav-link(href='poetry.html') Poetry
