.toggle-nav
  span.m M
  span.e
    span.bar
    span.bar
    span.bar
  span.n N
  span.u U
.nav-pane.slide-out
  nav
    ul.nav
      li.nav-item
        a.nav-link(href="/")
          i.mdi.mdi-home
        .name Home Page
      li.nav-item
        a.nav-link(href="about.html")
          i.mdi.mdi-account
        .name About Us
      li.nav-item
        a.nav-link(href="info.html")
          i.mdi.mdi-alert-box
        .name Information
      li.nav-item
        a.nav-link(href="gallery.html")
          i.mdi.mdi-image
        .name Gallery
      li.nav-item
        a.nav-link(href="coding.html")
          i.mdi.mdi-pound-box
        .name Coding
      li.nav-item
        a.nav-link(href="portfolio.html")
          i.mdi.mdi-poll
        .name Portfolio
      li.nav-item
        a.nav-link(href="album.html")
          i.mdi.mdi-camera
        .name Albums
      li.nav-item
        a.nav-link(href="poetry.html")
          i.mdi.mdi-file-document-box
        .name Poetry