section(class="{{ComponentClass}}")
	.row.mrt-1r
		.col-xs-12
			.btn-group(role='group', aria-label='Basic example')
				a.btn.btn-secondary([routerLink]="['/TemplateContainer']") Typography
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'BlockTemplateContainer']") Block
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'TableTemplateContainer']") Table
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'FormTemplateContainer']") Form
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'ApiTemplateContainer']") Api
	.row.mrt-1r
		.col-sm-12
			h4 Inventory
				small.label.text-main.text-sm (12 of 89)
			p Set up email templates for your quotes, sales orders, invoices, tracking notifications and purchase orders
			hr
			div.table-tab.mrb-2r((click)="$event.preventDefault()")
				.control
					nav.nav
						.nav-link
							a(href="javascript:void(0);")
								i.icon.ion-refresh
						.nav-link(dropdown (on-toggle)="toggled($event)")
							a(href="javascript:void(0);" id="simple-dropdown" dropdownToggle)
								i.icon.ion-gear-b
							ul.dropdown-menu(aria-labelledby="simple-dropdown")
								li
									a.dropdown-item(href="#") Demo text 
									a.dropdown-item(href="#") Demo text 
									a.dropdown-item(href="#") Demo text 
				tabset([justified]='true')
					tab(heading='Active')
						table.table.table-striped.table-hover.table-sm.tablerate
							thead.thead-default
								tr
									th 
										input(type="checkbox", name="demo")
									th Active
									th All
									th Filter
									th Bid
									th Status
									th Available
									th Update
									th.text-right
										.pdr-1r Control
							tbody
								tr(*ngFor='let item of liverate')
									td.check
										.checkbox.mrb-0
											label
												input(type="checkbox", name="demo")
									td.avatar
										.thumbnail
											img(src="/resources/img/favicon/apple-icon-60x60.png")
									th.pair(scope='row')
										a(href="{{item.Map}}", target="_blank") {{item.Name}}
										| 
										a(href="{{item.Map}}", target="_blank") 
											i.icon.ion-arrow-graph-up-right
									td.pid 
										a(href="javascript:void(0);") {{item.Pid}}
									td.ask 
										a(href="javascript:void(0);") {{item.Ask}}
									td.status
										span.status.status-offline(*ngIf="item.Ask == '4,345.56'")
											i.icon.ion-record
											| 
											| Offline
										span.status.status-online(*ngIf="item.Ask !== '4,345.56'")
											i.icon.ion-record
											| 
											| Active
									td.available
										span 12
										| 
										| in 4
										| available
									td.time {{item.Update}}
									td.control.text-right
										.btn-group.btn-group-style.btn-group-sm(role="group")
											button(type="button" class="btn")
												i.fa.fa-file-text
											button(type="button" class="btn")
												i.fa.fa-pencil
											button(type="button" class="btn")
												i.fa.fa-trash
					tab.padding(heading='All') Short Labeled Justified content
					tab.padding(heading='+ Filter') Long Labeled Justified content
	.row 
		.col-sm-12
			h2 Manage Email Templates
			p Set up email templates for your quotes, sales orders, invoices, tracking notifications and purchase orders
			.box.free-size
				.box-content
					.table-reponsive 
						table.table.tablerate.table-hover.mrb-0
							thead.thead-default
								tr
									th Template Name
									th Subject
									th Document
									th.text-right Control
							tbody
								tr(*ngFor='let item of [1,2,3,4,5,6,7,8,9]')
									th(scope='row')
										a(href="#") Order Notification
									td.text-muted Order Notification for order...
									td.time Order for order...
									td.text-right 
										.btn-group.btn-group-style.btn-group-sm(role="group")
											button(type="button" class="btn")
												i.fa.fa-file-text
											button(type="button" class="btn")
												i.fa.fa-pencil
											button(type="button" class="btn")
												i.fa.fa-trash
				.box-footer
					.row
						.col-sm-12.xs-center.sm-right
							button.mrb-xs-1r(type="button" class="btn btn-primary") I've set up my products
							| 
							button(type="button" class="btn btn-success") Import Products
	.row.flex.flex-md-col
		.col-lg-6.flex.flex-col
			//- Booking Table 
			include ../../templates/booking.jade
		.col-lg-6.flex.flex-col
			//- Live Rate Table
			include ../../templates/liverate.jade
	//- My Rates
	.row
		.col-lg-12.flex.flex-col
			include ../../templates/myrate.jade
	