section(class="{{ComponentClass}}")
	.subheader.mrb-2r
		.container-fluid
			.row
				.col-xs-9
					h2.title About Us
				.col-xs-3
	article.content.mrb-2r
		.container-fluid
			.row
				.col-xl-offset-1.col-xl-10
					.row
						.col-md-12.col-lg-12
							form([ngFormModel]='userForm', (submit)='saveUser()')
								.box-content.padding.padding-large
										.row
											.col-sm-8.box-left
												fieldset.form-group
													input.form-control(#name='', ngControl="name", placeholder='Username')
													control-messages(control='name')
												fieldset.form-group
													input.form-control(#password='', ngControl="password", placeholder='Password')
													control-messages(control='password')
												fieldset.form-group
													input.form-control(#email='', ngControl="email", placeholder='Password')
													control-messages(control='email')
								button.btn.btn-main(type='submit', [disabled]='!userForm.valid') Submit
								button.btn.btn-primary((click)="downloadCSV()") Download Excel
