@charset "UTF-8";
@font-face {
  font-family: "CenturyGothic";
  src: url(../../fonts/CenturyGothic.eot);
  src: url(../../fonts/CenturyGothic.eot?#iefix) format("embedded-opentype"), url(../../fonts/CenturyGothic.woff) format("woff"), url(../../fonts/CenturyGothic.woff2) format("woff2"), url(../../fonts/CenturyGothic.ttf) format("truetype"), url(../../fonts/CenturyGothic.svg#CenturyGothic) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HiraKakuStd-W8-AlphaNum";
  src: url(../../fonts/CenturyGothic.eot);
  src: url(../../fonts/CenturyGothic.eot?#iefix) format("embedded-opentype"), url(../../fonts/CenturyGothic.woff) format("woff"), url(../../fonts/CenturyGothic.woff2) format("woff2"), url(../../fonts/CenturyGothic.ttf) format("truetype"), url(../../fonts/CenturyGothic.svg#HiraKakuStd-W8-AlphaNum) format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

header .topbar .logo {
  display: block;
  width: 210px;
  height: 139px;
  margin: 0 auto;
  background: url("../../images/global/home_logo.png");
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  header .topbar .logo {
    margin-left: 50px;
  }
}

header .topbar .logo .svg {
  text-align: center;
  margin: 0 40px;
  max-width: 130px;
  -webkit-transform: translateY(50%);
  -khtml-transform: translateY(50%);
  transform: translateY(50%);
}

header .topbar ul li a {
  color: #000;
}

header .topbar ul li a:after {
  content: ' | ';
  display: inline-block;
  margin: 0 0 0 .5rem;
}

header .topbar ul li:first-child a:before {
  content: ' | ';
  display: inline-block;
  margin: 0 .5rem 0 0;
}

header .topbar ul li .num {
  font-family: CenturyGothic;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 31px;
  height: 31px;
  padding-left: .5rem;
}

@media (max-width: 991px) {
  header .topbar {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 575px) {
  header .topbar .col-xs {
    width: 100%;
    text-align: center;
  }
}

header nav.navbar {
  margin-top: -40px;
  background: none;
}

header nav.navbar .navbar-toggler {
  border-radius: 2px;
  color: white;
  padding-top: 0.15rem;
  padding-right: 0.35rem;
  padding-bottom: 0.15rem;
  padding-left: 0.35rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  margin: 0;
}

header nav.navbar .navbar-toggler:visited {
  color: white;
}

header nav.navbar .navbar-toggler:hover {
  color: white;
}

header nav.navbar .navbar-toggler:active, header nav.navbar .navbar-toggler:focus, header nav.navbar .navbar-toggler.active, header nav.navbar .navbar-toggler.activated {
  color: white;
}

header nav.navbar .navbar-toggler .navbar-toggler-icon {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

@media (max-width: 991px) {
  header nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-top: 0;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    background: #ededed;
  }
}

header nav.navbar #VienSoiGlobalMenu.navbar-collapse {
  max-height: 300px;
  overflow: auto;
}

@media (max-width: 991px) {
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse {
    margin-top: .75rem;
  }
}

header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item .nav-link img + img {
    padding-left: 1rem;
  }
}

header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item .nav-link span {
  display: block;
  line-height: 48px;
  padding-left: .5rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: initial;
    -ms-flex-direction: initial;
    flex-direction: initial;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item {
    width: 50%;
    padding-left: 10px;
    margin-bottom: 1px;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item.active, header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item:hover {
    background: white;
  }
}

@media (max-width: 575px) {
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item {
    width: 100%;
  }
}

@media (min-width: 992px) {
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV {
    width: 100%;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item {
    padding: 0 .5rem 1rem .5rem;
    margin-top: 0;
    margin-right: 1px;
    margin-bottom: 0;
    margin-left: 1px;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item .nav-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item .nav-link span {
    line-height: initial;
    padding-left: initial;
    white-space: nowrap;
  }
  header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item.active, header nav.navbar #VienSoiGlobalMenu.navbar-collapse ul#VienSoiNAV .nav-item:hover {
    -ms-box-shadow: inset 0 -7px 0 0 #d55555;
    -o-box-shadow: inset 0 -7px 0 0 #d55555;
    box-shadow: inset 0 -7px 0 0 #d55555;
  }
}

@media (max-width: 991px) {
  header.active nav.navbar {
    -ms-box-shadow: 0 2px 4px #b3b3b3;
    -o-box-shadow: 0 2px 4px #b3b3b3;
    box-shadow: 0 2px 4px #b3b3b3;
  }
}

footer.footer {
  margin-top: 6rem;
  background-color: #e1e3e4;
  position: relative;
  z-index: 1;
  color: black;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  footer.footer .container-fluid {
    padding: 0;
  }
  footer.footer .container-fluid .topfoot {
    display: table;
    width: 100%;
    margin: 0;
  }
}

footer.footer .info {
  background-color: #e1e3e4;
  padding-top: 4rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

@media (min-width: 576px) {
  footer.footer .info {
    padding-top: 4rem;
    padding-right: 4em;
    padding-bottom: 4rem;
    padding-left: 4em;
  }
}

@media (min-width: 768px) {
  footer.footer .info {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

footer.footer .info p {
  margin-bottom: 0;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

@media (min-width: 576px) {
  footer.footer .info p {
    min-height: 60px;
    min-width: 100px;
    width: 100px;
  }
}

footer.footer .info .slogan {
  color: #fff;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

footer.footer .linkfooter {
  padding-top: 4rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  background-color: #e1e3e4;
}

@media (min-width: 576px) {
  footer.footer .linkfooter {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }
}

@media (min-width: 768px) {
  footer.footer .linkfooter {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

footer.footer .linkfooter h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

footer.footer .linkfooter .list-group .list-group-item {
  text-align: center;
  display: inline-block;
  background: none;
  border: 0;
  font-weight: 300;
  color: black;
  padding-top: 0.5rem;
  padding-right: 0;
  padding-bottom: 0.5rem;
  padding-left: 0;
}

footer.footer .linkfooter .list-group .list-group-item:hover {
  background-color: none;
}

footer.footer .linkfooter .list-group .list-group-item:active, footer.footer .linkfooter .list-group .list-group-item:focus, footer.footer .linkfooter .list-group .list-group-item.active, footer.footer .linkfooter .list-group .list-group-item.activated {
  background-color: none;
}

footer.footer .linkfooter .list-group .list-group-item:visited {
  color: black;
}

footer.footer .linkfooter .list-group .list-group-item:hover {
  color: gray;
}

footer.footer .linkfooter .list-group .list-group-item:active, footer.footer .linkfooter .list-group .list-group-item:focus, footer.footer .linkfooter .list-group .list-group-item.active, footer.footer .linkfooter .list-group .list-group-item.activated {
  color: gray;
}

footer.footer .linkfooter .list-group .list-group-item a {
  color: #000;
}

footer.footer .linkfooter .list-group .list-group-item a:hover, footer.footer .linkfooter .list-group .list-group-item a.active {
  text-decoration: underline;
}

@media (min-width: 768px) {
  footer.footer .linkfooter .list-group .list-group-item {
    text-align: left;
    padding-bottom: 0;
    padding-left: 2rem;
    border-left: 2px solid #c9c9c9;
  }
}

@media (max-width: 767px) {
  footer.footer .linkfooter .socials {
    margin-top: 2rem;
  }
}

footer.footer .linkfooter .socials .list-inline {
  margin: 0;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item {
  font-size: 0.9rem;
  color: #262626;
  margin-right: 1rem;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item:visited {
  color: #262626;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item:hover {
  color: #fff;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item:active, footer.footer .linkfooter .socials .list-inline .list-inline-item:focus, footer.footer .linkfooter .socials .list-inline .list-inline-item.active, footer.footer .linkfooter .socials .list-inline .list-inline-item.activated {
  color: #fff;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a {
  display: block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  background-color: #999999;
  color: #262626;
  border-radius: 50%;
  text-align: center;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a:hover {
  background-color: #fff;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a:active, footer.footer .linkfooter .socials .list-inline .list-inline-item a:focus, footer.footer .linkfooter .socials .list-inline .list-inline-item a.active, footer.footer .linkfooter .socials .list-inline .list-inline-item a.activated {
  background-color: #fff;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a:visited {
  color: #262626;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a:hover {
  color: #262626;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a:active, footer.footer .linkfooter .socials .list-inline .list-inline-item a:focus, footer.footer .linkfooter .socials .list-inline .list-inline-item a.active, footer.footer .linkfooter .socials .list-inline .list-inline-item a.activated {
  color: #262626;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item a i {
  line-height: 2rem;
}

footer.footer .linkfooter .socials .list-inline .list-inline-item:last-child {
  margin: 0;
}

footer.footer .linkfooter .socials .qrcode {
  border: 1px solid #000;
  display: inline-block;
}

footer.footer .linkfooter .socials .qrcode img {
  width: 80px;
}

footer.footer .copyright {
  padding-top: 0;
  padding-right: 2rem;
  padding-bottom: 0;
  padding-left: 2rem;
}

footer.footer .copyright a {
  color: black;
}

@media (min-width: 768px) {
  footer.footer.line .topfoot .linkfooter {
    padding: 1rem;
  }
  footer.footer.line .topfoot .linkfooter .list-group .list-group-item {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  text-align: center;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

@media (min-width: 768px) {
  #back-to-top {
    bottom: 40px;
    right: 40px;
  }
}

#back-to-top span {
  display: block;
}

#back-to-top i {
  line-height: .75rem;
  height: .75rem;
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

html, body {
  font-family: "HiraKakuStd-W8-AlphaNum", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  height: 100%;
  width: 100%;
}

html::-moz-selection, body::-moz-selection {
  background-color: #1F97D5;
  color: #fff;
}

html::selection, body::selection {
  background-color: #1F97D5;
  color: #fff;
}

html:-moz-selection, body:-moz-selection {
  background-color: #1F97D5;
  color: #fff;
}

html::-moz-selection, body::-moz-selection {
  background-color: #1F97D5;
  color: #fff;
}

html:-ms-selection, body:-ms-selection {
  background-color: #1F97D5;
  color: #fff;
}

body {
  background-image: url("../../images/global/child_background.jpg");
  background-position: top center;
  background-size: cover;
}

body.bn-index {
  background-image: url("../../images/home/home_background.jpg");
}

@media (max-width: 991px) {
  body {
    background-image: url("../../images/global/child_background-sm.jpg");
  }
  body.bn-index {
    background-image: url("../../images/home/home_background-sm.jpg");
  }
}

@media (max-width: 767px) {
  body {
    background-image: url("../../images/global/child_background-xs.jpg");
  }
  body.bn-index {
    background-image: url("../../images/home/home_background-xs.jpg");
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}

.breadcrumb {
  background: none;
  padding-top: 1rem;
  padding-right: 0;
  padding-bottom: 1rem;
  padding-left: 0;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '❯';
}

.breadcrumb a {
  color: #000000;
}

.breadcrumb .active {
  text-decoration: underline;
  color: #1F97D5;
}

.text-sm {
  font-size: 0.9rem;
}

.text-lg {
  font-size: 1.3rem;
}

.text-xl {
  font-size: 1.8rem;
}

.text-xxl {
  font-size: 2.2rem;
}

.ishover:hover {
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  -webkit-opacity: 0.5;
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}

.text-white {
  color: white;
}

.text-green {
  color: #84B528;
}

.text-pink {
  color: #D11E6D;
}

.text-pink-2 {
  color: #D57B85;
}

.text-blue {
  color: #6693C6;
}

.text-cyan {
  color: #5BB6B3;
}

.bg-green {
  background-color: #84B528;
}

.bg-pink {
  background-color: #D11E6D;
}

.bg-pink-2 {
  background-color: #D57B85;
}

.bg-news {
  background-color: #de9179;
}

.bg-event {
  background-color: #CCC2B0;
}

.bg-commute {
  background-color: #6693C6;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.get-responsive {
  min-height: .01%;
  overflow-x: auto;
}
