section(class="{{ComponentClass}}")
	.box.box-lg.free-size
		.box-header
			h3.title Welcome back 
				span.text-danger Maxime
			.group-control
				ul.nav
					li.nav-link
						button.btn.btn-primary([routerLink]="['/AccountContainer','AddAccountContainer']")
							i.icon.ion-person-add
		.box-content.padding.padding-large
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga nisi doloribus vel odit cupiditate, possimus mollitia recusandae, dignissimos modi minus, odio quae architecto rerum voluptates. Numquam ratione voluptas accusantium, ipsa!
