section.wrapper.biz4xapp(class="{{setToggleBody + setClasses +' '+ setFonts +' '+ setBodyClass}}")
	//- NAV BAR
	include components/partials/nav.jade
	//- HEADER
	include components/partials/header.jade
	//- MAIN
	main([ngClass]="{fontWeight: isBold}", [ngStyle]="{'font-size': fontSize + 'rem'}")
		section.app
			//- BREADCRUMB
			include components/partials/breadcrumb.jade
			router-outlet
	//- FOOTER
	include components/partials/footer.jade