section.wrapper.bnapp(class="{{setToggleBody + setClasses +' '+ setBodyClass}}")
	//- NAV BAR
	include components/partials/nav.jade
	//- HEADER
	include components/partials/header.jade
	//- MAIN
	main
		section.app
			router-outlet