.box.box-orange.box-lg.box-ribbon.flex.flex-col
	.box-header
		h3.title LIVE FX Rates
			span.label.label-pill.label-noted 6
		.group-control
			ul.nav
				li.nav-link
					.quicksearch
						label(for="quicksearchlive",(click)="Live_isCollapsed = !Live_isCollapsed")
							i.icon.ion-search
						.se([ngClass]="{active: Live_isCollapsed}")
							input#quicksearchlive.form-control(placeholder="Search Live FX Rates") 
				li.nav-link
					a(href="javascript:void(0);")
						i.icon.ion-refresh
				li.nav-link
					a(href="javascript:void(0);")
						i.icon.ion-minus
				li.nav-link
					a(href="javascript:void(0);")
						i.icon.ion-arrow-expand
	.box-content
		table.table.table-sm.tablerate
			thead.thead-default
				tr
					th Pair
					th Pid
					th Ask
					th Change
					th Update
			tbody
				tr(*ngFor='let item of liverate')
					th.pair(scope='row')
						a(href="{{item.Map}}", target="_blank") {{item.Name}}
						| 
						a(href="{{item.Map}}", target="_blank") 
							i.icon.ion-arrow-graph-up-right
					td.pid 
						a(href="javascript:void(0);") {{item.Pid}}
					td.ask 
						a(href="javascript:void(0);") {{item.Ask}}
					td.change.down
						a(href="javascript:void(0);") {{item.Change}}
							| 
							i.icon.ion-android-arrow-up
					td.time {{item.Update}}
	.box-footer