section.container-fluid(class="{{ComponentClass}}")
	.row.mrt-2r
		.col-lg-12
			.box.free-size
				.box-header
					.row
						.col-xs-12.col-sm-6
							h3.cost.title Please Select Plan 
						.col-sm-6.text-right.hidden-sm-down
							nav.nav.control.pdr-1r
								.nav-link.pdl-05r
									i.lh-3r.fa.fa-cc-visa.fa-2x
								.nav-link.pdl-05r
									i.lh-3r.fa.fa-cc-mastercard.fa-2x
								.nav-link.pdl-05r
									i.lh-3r.fa.fa-cc-amex.fa-2x
				.box-content
					.plancontent 
						.row
							.col-sm-6.col-lg-3
								.title Basic
									.indicator.primary
										.ribbon Popular
								.price.text-uppercase.text-center.text-sm
									h3.cost $79
									.per Per month
									.status Billed Annually
								.link.text-center
									a(href="#") Or switch to monthly billing and pay $99
									button.btn.btn-block.btn-success.mrt-1r(type="button") Sign up Now
								.list-group.text-sm
									.list-group-item
										| Orders
										span.pull-xs-right Unlimited
									.list-group-item
										| Sales Channels Integration
										span.pull-xs-right 05
									.list-group-item
										| Number of Users
										span.pull-xs-right 
											i.fa.fa-check
									.list-group-item
										| Technical Support
										span.pull-xs-right 
											a(href="#") Email
							.col-sm-6.col-lg-3
								.title Basic
									.indicator
										.ribbon Popular
								.price.text-uppercase.text-center.text-sm
									h3.cost $79
									.per Per month
									.status Billed Annually
								.link.text-center
									a(href="#") Or switch to monthly billing and pay $99
									button.btn.btn-block.btn-success.mrt-1r(type="button") Sign up Now
								.list-group.text-sm
									.list-group-item
										| Orders
										span.pull-xs-right Unlimited
									.list-group-item
										| Sales Channels Integration
										span.pull-xs-right 05
									.list-group-item
										| Number of Users
										span.pull-xs-right 
											i.fa.fa-check
									.list-group-item
										| Technical Support
										span.pull-xs-right 
											a(href="#") Email
							.col-sm-6.col-lg-3
								.title Basic
									.indicator.hot
										.ribbon Popular
								.price.text-uppercase.text-center.text-sm
									h3.cost $79
									.per Per month
									.status Billed Annually
								.link.text-center
									a(href="#") Or switch to monthly billing and pay $99
									button.btn.btn-block.btn-success.mrt-1r(type="button") Sign up Now
								.list-group.text-sm
									.list-group-item
										| Orders
										span.pull-xs-right Unlimited
									.list-group-item
										| Sales Channels Integration
										span.pull-xs-right 05
									.list-group-item
										| Number of Users
										span.pull-xs-right 
											i.fa.fa-check
									.list-group-item
										| Technical Support
										span.pull-xs-right 
											a(href="#") Email
							.col-sm-6.col-lg-3
								.title Basic
									.indicator.success
										.ribbon Popular
								.price.text-uppercase.text-center.text-sm
									h3.cost $79
									.per Per month
									.status Billed Annually
								.link.text-center
									a(href="#") Or switch to monthly billing and pay $99
									button.btn.btn-block.btn-success.mrt-1r(type="button") Sign up Now
								.list-group.text-sm
									.list-group-item
										| Orders
										span.pull-xs-right Unlimited
									.list-group-item
										| Sales Channels Integration
										span.pull-xs-right 05
									.list-group-item
										| Number of Users
										span.pull-xs-right 
											i.fa.fa-check
									.list-group-item
										| Technical Support
										span.pull-xs-right 
											a(href="#") Email
					.row
						.col-sm-6.xs-center.sm-left
							h5.text-main.text-md TRIAL
							.text-muted Sales Channels Installed 0
							.text-muted Users Created 1
						.col-sm-6.xs-center.sm-right
							p 
								i.text-muted.text-sm Expiring 13 days left
					hr
					.row
						.col-sm-12.xs-center.sm-right.mrt-1r
							p Need a hand? 
								a(href="#") Chat to our sales team for more info!
							p 
								button(type="button" class="btn btn-secondary-outline") Close Your Account