section(class="{{ComponentClass}}")
	.row.mrt-1r
		.col-xs-12
			.btn-group(role='group', aria-label='Basic example')
				a.btn.btn-secondary([routerLink]="['/TemplateContainer']") Typography
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'BlockTemplateContainer']") Block
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'TableTemplateContainer']") Table
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'FormTemplateContainer']") Form
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'ApiTemplateContainer']") Api
	hr
	.row
		.col-md-6
			.box.box-primary.box-lg.box-ribbon.free-size
				.box-header
					h3.title Login Page
					.group-control
						ul.nav
							li.nav-link
								a
									i.icon.ion-locked
					alert([hidden]='!errorMessage', dismissOnTimeout="1000000", type="danger", dismissible="true", closable="true") {{errorMessage}}
					.sub-header Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				form(role='form', (submit)='login($event, username.value, password.value)')
					.box-content.padding.padding-large
							.row
								.col-sm-8.box-left
									fieldset.form-group
										input.form-control(type='text', #username='', ngControl="username", placeholder='Username', required)
									fieldset
										input.form-control(type='password', #password='', ngControl="password", placeholder='Password', required)
								.col-sm-4.box-right.sm-right.xs-center
									fieldset.form-group
										| Login with
									ul.nav.xs-center.sm-right.control
										li.nav-link
											a(href="javascript:void(0);", tooltip="Facebook", tooltipPlacement="bottom")
												i.icon.ion-social-facebook
										li.nav-link
											a(href="javascript:void(0);", tooltip="Twitter", tooltipPlacement="bottom")
												i.icon.ion-social-twitter
										li.nav-link
											a(href="javascript:void(0);", tooltip="Google", tooltipPlacement="bottom")
												i.icon.ion-social-google
					.box-footer
						.row
							.col-sm-6.xs-center.sm-left
								.checkbox
									label.c-input.c-checkbox
										input(type='checkbox')
										span.c-indicator
										| 
										|  Remember password
							.col-sm-6.xs-center.sm-right
								button.btn.btn-primary.btn-xs-block(type='submit') Login


		.col-md-6
			.box.free-size
				.box-header
					h3.title Add new user
					.group-control
						ul.nav
							li.nav-link
								button.btn.btn-primary.btn-sm Save
				.box-content.padding.padding-large
					form
						.form-group.row
							label.col-sm-2.form-control-label(for='inputEmail3') Email
							.col-sm-10
								input#inputEmail3.form-control(type='email', placeholder='Email')
						.form-group.row
							label.col-sm-2.form-control-label(for='inputPassword3') Password
							.col-sm-10
								input#inputPassword3.form-control(type='password', placeholder='Password')
						.form-group.row
							label.col-sm-2 Radios
							.col-sm-10
								label.c-input.c-radio
									input#radio1(name='radio', type='radio')
									span.c-indicator
									|   Toggle
								label.c-input.c-radio
									input#radio2(name='radio', type='radio')
									span.c-indicator
									| Radio
						.form-group.row
							label.col-sm-2 Radios
							.col-sm-10.c-inputs-stacked
								label.c-input.c-radio
									input#radio1(name='radio', type='radio')
									span.c-indicator
									|   Toggle this custom radio
								label.c-input.c-radio
									input#radio2(name='radio', type='radio')
									span.c-indicator
									|   Or toggle this other custom radio

						.form-group.row
							.col-sm-2 Checkbox
							.col-sm-10 
								label.c-input.c-checkbox
									input(type='checkbox')
									span.c-indicator
									| Check this custom checkbox
						.form-group.row
							.col-sm-2 Select
							.col-sm-10 
								select.c-select.form-control
									option(selected='') Open this select menu
									option(value='1') One
									option(value='2') Two
									option(value='3') Three
						.form-group.row
							.col-sm-2 Files
							.col-sm-10 
								label.file
									input#file(type='file')
									span.file-custom

	.row 
		.col-sm-12
			.box.free-size
				.box-header
					h3.title Add new user
					.group-control
						ul.nav
							li.nav-link
								button.btn.btn-primary.btn-sm Save
				.box-content.padding.padding-large
					form
						.form-group
							label(for='inputEmail3') 
								strong Email
							input#inputEmail3.form-control.w-sm-12.w-lg-6(type='email', placeholder='Email')
							small.text-muted We'll never share your email with anyone else.
						.form-group
							label(for='inputPassword3') 
								strong Password
							input#inputPassword3.form-control.w-sm-12.w-lg-6(type='password', placeholder='Password')
						.radio
							label.c-input.c-radio
								input#radio1(name='radio', type='radio')
								strong.c-indicator
								|   Toggle
							label.c-input.c-radio
								input#radio2(name='radio', type='radio')
								strong.c-indicator
								| Radio
						.radio
							.c-inputs-stacked
								label.c-input.c-radio
									input#radio1(name='radio', type='radio')
									strong.c-indicator
									|   Toggle this custom radio
								label.c-input.c-radio
									input#radio2(name='radio', type='radio')
									strong.c-indicator
									|   Or toggle this other custom radio
						.checkbox
							label.c-input.c-checkbox
								input(type='checkbox')
						.form-group
							label
								strong Select
							div 
								select.c-select.form-control.w-sm-12.w-lg-6
									option(selected='') Open this select menu
									option(value='1') One
									option(value='2') Two
									option(value='3') Three
						button.mrt-2r.btn.btn-con.text-uppercase Save Change

						h4.mrt-2r Tax and Pricing
						hr 
						.form-group
							label
								strong Files
							input.form-control-file#file(type='file')
						h5 Relationships
						p To get you up and running quickly, we recommend you to invite some customers to your B2B eCommerce platform. You can manage this per company and per contact in the Relationships section; you may also invite them all below.
						kbd NOTE
						p This will not invite contacts of disabled companies or contacts you have already invited.

						button.mrt-2r.btn.btn-con.text-uppercase.btn-lg Invite all Business Customers
	//- ckeditor([(ngModel)]="ckeditorContent" [config]="{uiColor: '#99000'}")
	h4 Loading bar
	hr
	.box.free-size
		.box-content.padding.padding-large 
			.row
				.col-sm-4
					#loading
						.loading
							ul
								li
									svg.uil-ring(width='120px', height='120px', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='xMidYMid')
										rect.bk(x='0', y='0', width='100', height='100', fill='none')
										circle(cx='50', cy='50', r='40', stroke-dasharray='163.36281798666926 87.9645943005142', stroke='#FFF', fill='none', stroke-width='10')
											animateTransform(attributeName='transform', type='rotate', values='0 50 50;180 50 50;360 50 50;', keyTimes='0;0.5;1', dur='1s', repeatCount='indefinite', begin='0s')
								li logging into site
								li.val 25%
				.col-sm-4
					#loading
						.loading
							ul.mrb-0.lh-15r
								li.lh-15r logging into site
								li.lh-15r.val 25%
							.prog
								span(style='width: 25%;', val="25")
				.col-sm-4
					#loading
						.loading
							ul
								li
									svg.uil-ring(width='120px', height='120px', xmlns='http://www.w3.org/2000/svg', viewBox='0 0 100 100', preserveAspectRatio='xMidYMid')
										rect.bk(x='0', y='0', width='100', height='100', fill='none')
										circle(cx='50', cy='50', r='40', stroke-dasharray='163.36281798666926 87.9645943005142', stroke='#FFF', fill='none', stroke-width='10')
											animateTransform(attributeName='transform', type='rotate', values='0 50 50;180 50 50;360 50 50;', keyTimes='0;0.5;1', dur='1s', repeatCount='indefinite', begin='0s')
								li logging into site
								li.val 25%
							.prog
								span(style='width: 25%;', val="25")
			p Add the class 
				code #loading.fullscreen
				| 
				| to toggle FullScreen loadding bar

	//- h4 Drag-and-Drop
	//- 	hr
	//- 	.box.free-size
	//- 		.box-content.padding.padding-large 
	//- 			.row
	//- 				.col-sm-4
	//- 					.panel.panel-warning
	//- 						.panel-heading
	//- 						.panel-body(dnd-sortable-container='', [dropZones]="['boxers-zone']", [sortableData]='listBoxers')
	//- 							ul.list-group
	//- 								li.list-group-item(*ngFor='#item of listBoxers; #i = index', dnd-sortable='', [sortableIndex]='i') {{item}}
	//- 				.col-sm-4
	//- 					.panel.panel-success
	//- 						.panel-heading
	//- 						.panel-body(dnd-sortable-container='', [dropZones]="['boxers-zone']", [sortableData]='listTeamOne')
	//- 							ul.list-group
	//- 								li.list-group-item(*ngFor='#item of listTeamOne; #i = index', dnd-sortable='', [sortableIndex]='i') {{item}}
	//- 				.col-sm-4
	//- 					.panel.panel-info
	//- 						.panel-heading
	//- 						.panel-body(dnd-sortable-container='', [dropZones]="['boxers-zone']", [sortableData]='listTeamTwo')
	//- 							ul.list-group
	//- 								li.list-group-item(*ngFor='#item of listTeamTwo; #i = index', dnd-sortable='', [sortableIndex]='i') {{item}}


