section(class="{{ComponentClass}}")
	.box.box-lg.free-size
		.box-header
			h3.title Add new user
			.group-control
				ul.nav
					li.nav-link
						button.btn.btn-primary Save
		.box-content.padding.padding-large
			form
				.form-group.row
					label.col-sm-2.form-control-label(for='inputEmail3') Email
					.col-sm-10
						input#inputEmail3.form-control(type='email', placeholder='Email')
				.form-group.row
					label.col-sm-2.form-control-label(for='inputPassword3') Password
					.col-sm-10
						input#inputPassword3.form-control(type='password', placeholder='Password')
				.form-group.row
					label.col-sm-2 Radios
					.col-sm-10
						.radio
							label
								input#gridRadios1(type='radio', name='gridRadios', value='option1', checked='')
								|           Option one is this and that—be sure to include why it's great
						.radio
							label
								input#gridRadios2(type='radio', name='gridRadios', value='option2')
								|           Option two can be something else and selecting it will deselect option one
						.radio.disabled
							label
								input#gridRadios3(type='radio', name='gridRadios', value='option3', disabled='')
								|           Option three is disabled
				.form-group.row
					label.col-sm-2 Checkbox
					.col-sm-10
						.checkbox
							label
								input(type='checkbox')
								|  Check me out