footer.footer
	.container-fluid
		.row
			.col-md-12.col-lg-3.info
				p
					a.logo(href="javascript:void(0);")
						i.app-icon.biz4x
				.slogan.mrb-15([innerHTML]="'BIX4X_Slogan' | translate")
				p {{ 'BIX4X_FooterDesc' | translate }}
				.nav.social
					a.nav-link(href="javascript:void(0);")
						i.icon.ion-social-facebook
					a.nav-link(href="javascript:void(0);")
						i.icon.ion-social-twitter
					a.nav-link(href="javascript:void(0);")
						i.icon.ion-social-youtube
					a.nav-link(href="javascript:void(0);")
						i.icon.ion-social-google
			.col-lg-4.col-lg-offset-1
				.row
					.col-md-6.mrb-15.link
						ul.nav
							li.nav-item
								h4 Title here
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
					.col-md-6.mrb-15.link
						ul.nav
							li.nav-item
								h4 Title here
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
							li.nav-item
								a.nav-link(href="javascript:void(0);") Home  
							li.nav-item
								a.nav-link(href="javascript:void(0);") About
			.col-lg-4.socialbtn
				.nav.social
					li.nav-item
						a.nav-link(href="javascript:void(0);")
							i.icon.ion-social-apple
							.text
								span Available on the
								span Apple Store
					li.nav-item
						a.nav-link(href="javascript:void(0);")
							i.icon.ion-android-playstore.small
							.text
								span Get it on
								span Google play
	.copyright
		.container-fluid
			.row
				.col-sm-12 {{ 'BIX4X_Copyright' | translate }}
