//- header
//- 	.navbar.navbar-light.navbar-static-top.bd-navbar(role='banner')
//- 		.collapse.navbar-toggleable-sm([collapse]="!NAV_isCollapsed")
//- 			a.navbar-brand.hidden-sm-down(href="javascript:void(0);", [routerLink]="['/Home']")
//- 				i.app-icon.biz4x
//- 			ul.nav.navbar-nav
//- 				li.nav-item.hidden-sm-down.togglemenu
//- 					a.globalmenu(href="javascript:void(0);",  (click)="NAV_isGlobalCollapsed = !NAV_isGlobalCollapsed")
//- 						i.fa.fa-bars