//- header
//- 	.navbar.navbar-light.navbar-static-top.bd-navbar(role='banner')
//- 		.collapse.navbar-toggleable-sm([collapse]="!NAV_isCollapsed")
//- 			a.navbar-brand.hidden-sm-down(href="javascript:void(0);", [routerLink]="['/Home']")
//- 				i.app-icon.biz4x
//- 			ul.nav.navbar-nav
//- 				li.nav-item.hidden-sm-down.togglemenu
//- 					a.globalmenu(href="javascript:void(0);",  (click)="NAV_isGlobalCollapsed = !NAV_isGlobalCollapsed")
//- 						i.fa.fa-bars
				//- li.nav-item.togglesearch
				//- 	section#search.search
				//- 		label(for='search-input')
				//- 			i.icon.ion-search
				//- 		input#search-input.form-control.input-lg(placeholder='Search PEP', autocomplete='off', spellcheck='false', autocorrect='off', tabindex='1')

				//- li.nav-item
				//- 	a.nav-link(href="javascript:void(0);") Home
				//- 		span.label.label-pill.label-info 25
				//- li.nav-item
				//- 	a.nav-link(href="javascript:void(0);") About
			//- ul.nav.navbar-nav.navbar-right
			//- 	li.nav-item
			//- 		a.nav-link.button.premium(href="javascript:void(0);") Switch to premium
			//- 	li.nav-item
					//- a.nav-link.button.text-uppercase([routerLink]="['/Plan']") Select plan
			