section(class="{{ComponentClass}}")
	.row
		.col-xs-12
			.btn-group(role='group', aria-label='Basic example')
				a.btn.btn-secondary([routerLink]="['/TemplateContainer']") Typography
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'BlockTemplateContainer']") Block
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'TableTemplateContainer']") Table
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'FormTemplateContainer']") Form
				a.btn.btn-secondary([routerLink]="['/TemplateContainer', 'ApiTemplateContainer']") Api
	h4.mrt-1r.mrb-1r Flex Box 
	.row 
		.col-sm-12
			.box.free-size
				.box-content.padding.padding-large
					dl.dl-horizontal.row
						dt.col-xs-6
							code .flex.flex-row
							| 
							| or 
							| 
							code [flex]
						dd.col-xs-6
							.flex.flex-row
								.bg-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								.bg-muted Nihil maiores nisi ducimus aut id excepturi doloribus illum nam facere et incidunt voluptatum culpa, 
								.bg-voted Ab perferendis sed a mollitia temporibus aliquid!
						dt.col-xs-6
							code .flex.flex-wrap
						dd.col-xs-6
							.flex.flex-wrap
								.bg-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								.bg-muted Nihil maiores nisi ducimus aut id excepturi doloribus illum nam facere et incidunt voluptatum culpa, 
								.bg-voted Ab perferendis sed a mollitia temporibus aliquid!
						dt.col-xs-6
							code .flex.flex-col
						dd.col-xs-6
							.flex.flex-col
								.bg-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								.bg-muted Nihil maiores nisi ducimus aut id excepturi doloribus illum nam facere et incidunt voluptatum culpa, 
								.bg-voted Ab perferendis sed a mollitia temporibus aliquid!
	h4.mrt-1r.mrb-1r Typography 
	.row 
		.col-sm-6
			.box.free-size
				.box-content.padding.padding-large
					h1 H1. title heading
					h2 H2. title heading
					h3 H3. title heading
					h4 H4. title heading
					h5 H5. title heading
					h6 H6. title heading
		.col-sm-6
			.box.free-size
				.box-content.padding.padding-large
					p
						code h3>small
					h3 H3. title heading
						| 
						small.text-muted Small text demo
					p
						code p.lead
					p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
	h4.mrt-1r.mrb-1r Classes 
	.row 
		.col-sm-6
			.box.free-size
				.box-content.padding.padding-large
					dl.dl-horizontal.row
						dt.col-xs-2
							code .mrt-*
						dd.col-xs-10 Margin Top
						dt.col-xs-2
							code .mrb-*
						dd.col-xs-10 Margin Bottom
						dt.col-xs-2
							code .pdl-*
						dd.col-xs-10 Padding Left
						dt.col-xs-2
							code .pdr-*
						dd.col-xs-10 Padding Right
						dt.col-xs-6
							code .mrt-(xs|sm|md|lg|xl)-*
						dd.col-xs-6 Breakpoint Margin Top
						dt.col-xs-6
							code .mrb-(xs|sm|md|lg|xl)-*
						dd.col-xs-6 Breakpoint Margin Bottom
						dt.col-xs-6
							code .pdl-(xs|sm|md|lg|xl)-*
						dd.col-xs-6 Breakpoint Padding Left
						dt.col-xs-6
							code .pdr-(xs|sm|md|lg|xl)-*
						dd.col-xs-6 Breakpoint Padding Right
					p With
						| 
						code *
						| 
						| is
						| 
						code [number]
						| 
						| or 
						| 
						code [number]r
					p For example: 
						code .mrt-30
						| 
						| or 
						| 
						code .pdr-2r
					p Value: 
						code .mrt-20 (20px)
						| 
						code .pdr-12r (1.2rem)
						| 
						code .pdr-02r (.2rem)
						| 
						code .pdr-2r (2rem)
					hr
					dl.dl-horizontal.row
						dt.col-xs-5
							code .lh-*
						dd.col-xs-7 Line height
						dt.col-xs-5
							code .lh-(xs|sm|md|lg|xl)-*
						dd.col-xs-7 Breakpoint Line height
						dt.col-xs-5
							code .no-wrap
						dd.col-xs-7 
							p Text ellipsis
							p.no-wrap(style="max-width:300px") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum hic debitis maiores perspiciatis quos minus, ad nemo molestias tempore quia, laudantium aliquid dolore perferendis cum doloribus! Ducimus voluptas a animi.
						dt.col-xs-5
							code .label.label-*
						dd.col-xs-7
							span.text-sm.label.label-default .default
							| 
							span.text-sm.label.label-primary .primary
							| 
							span.text-sm.label.label-success .success
							| 
							span.text-sm.label.label-info .info
							| 
							span.text-sm.label.label-warning .warning
							| 
							span.text-sm.label.label-danger .danger
							| 
							span.text-sm.label.label-link .link
							| 
							span.text-sm.label.label-hover .hover
							| 
							span.text-sm.label.label-amethyst .amethyst
							| 
							span.text-sm.label.label-turquoise .turquoise
						dt.col-xs-5
							code .label.label-pill.label-*
						dd.col-xs-7
							span.text-sm.label.label-pill.label-default 1
							| 
							span.text-sm.label.label-pill.label-primary 65
							| 
							span.text-sm.label.label-pill.label-success 567
							| 
							span.text-sm.label.label-pill.label-info 6776
							| 
							span.text-sm.label.label-pill.label-warning 55444
							| 
							span.text-sm.label.label-pill.label-danger 6565656
							
		.col-sm-6
			.box.free-size
				.box-content.padding.padding-large
					dl.dl-horizontal.row
						dt.col-xs-5
							code .text-(center|left|right)
						dd.col-xs-7 Text Align
						dt.col-xs-5
							code .*-(center|left|right)
						dd.col-xs-7 Breakpoint Text Align
						dt.col-xs-5
							code .text-mini
						dd.col-xs-7
							span.text-mini Text mini
						dt.col-xs-5
							code .text-xs
						dd.col-xs-7
							span.text-xs Text xs
						dt.col-xs-5
							code .text-sm
						dd.col-xs-7
							span.text-sm Text sm
						dt.col-xs-5
							code .text-md
						dd.col-xs-7
							span.text-md Text md
						dt.col-xs-5
							code .text-lg
						dd.col-xs-7
							span.text-lg Text lg
						dt.col-xs-5
							code .text-xl
						dd.col-xs-7
							span.text-xl Text xl
						dt.col-xs-5
							code [kbd]
						dd.col-xs-7
							kbd Note Text
						dt.col-xs-5
							code .text-main
						dd.col-xs-7 
							span.text-main Color main
						dt.col-xs-5
							code .text-con
						dd.col-xs-7 
							span.text-con Color con
						dt.col-xs-5
							code .text-danger
						dd.col-xs-7 
							span.text-danger Color danger
						dt.col-xs-5
							code .text-primary
						dd.col-xs-7 
							span.text-primary Color primary
						dt.col-xs-5
							code .text-warning
						dd.col-xs-7 
							span.text-warning Color warning
						dt.col-xs-5
							code .text-voted
						dd.col-xs-7 
							span.text-voted Color voted
						dt.col-xs-5
							code .text-success
						dd.col-xs-7 
							span.text-success Color success
						dt.col-xs-5
							code .text-amethyst
						dd.col-xs-7 
							span.text-amethyst Color amethyst
						dt.col-xs-5
							code .text-turquoise
						dd.col-xs-7 
							span.text-turquoise Color turquoise
						dt.col-xs-5
							code .text-muted
						dd.col-xs-7 
							span.text-muted Color muted
						dt.col-xs-5
							code .text-link
						dd.col-xs-7 
							span.text-link Color link
						dt.col-xs-5
							code .text-hover
						dd.col-xs-7 
							span.text-hover Color hover
						dt.col-xs-5
							code .bg-danger (*)
						dd.col-xs-7 
							div.bg-danger.text-center Background danger
	h4.mrt-1r.mrb-1r Button 
	.row 
		.col-sm-12
			.box.free-size
				.box-content.padding.padding-large
					p
						code .btn.btn-*
					div
						button.mrb-5.btn .btn
						| 
						button.mrb-5.btn.btn-amethyst .btn.btn-amethyst
						| 
						button.mrb-5.btn.btn-secondary .btn.btn-secondary
						| 
						button.mrb-5.btn.btn-primary .btn.btn-primary
						| 
						button.mrb-5.btn.btn-danger .btn.btn-danger
						| 
						button.mrb-5.btn.btn-success .btn.btn-success
						| 
						button.mrb-5.btn.btn-link .btn.btn-link
						| 
						button.mrb-5.btn.btn-hover .btn.btn-hover
						| 
						button.mrb-5.btn.btn-muted .btn.btn-muted
						| 
						button.mrb-5.btn.btn-main .btn.btn-main
						| 
						button.mrb-5.btn.btn-con .btn.btn-con
						| 
						button.mrb-5.btn.btn-warning .btn.btn-warning
						| 
						button.mrb-5.btn.btn-voted .btn.btn-voted
						| 
						button.mrb-5.btn.btn-turquoise .btn.btn-turquoise				
	h4.mrt-1r.mrb-1r Toggle Button
	.row
		.col-sm-12
			.box.free-size
				.box-content.padding
					.row
						.col-xs-4
							.tg-list
								.tg-list-item.mrb-8
									input.tgl.tgl-flat(id="demo", type='checkbox', checked)
									label.tgl-btn(for='demo')
									label.tgl-text(for='demo') Demo Text
								.tg-list-item.mrb-5
									label.tgl-text(for='demo1') Demo Text
									input.tgl.tgl-light(id="demo1", type='checkbox', checked)
									label.tgl-btn(for='demo1')
								.tg-list-item.mrb-5
									input.tgl.tgl-flip(id="demo2", type='checkbox', checked)
									label.tgl-btn(for='demo2', data-tg-off='NO' data-tg-on='YES')
						.col-xs-4
							.tg-list
								.tg-list-item.mrb-5
									input.tgl.tgl-flat(id="demo3", type='checkbox', checked)
									label.tgl-btn.tgl-link.tgl-md(for='demo3')
									label.tgl-text(for='demo3') Demo Text
								.tg-list-item.mrb-5
									label.tgl-text(for='demo4') Demo Text
									input.tgl.tgl-light(id="demo4", type='checkbox', checked)
									label.tgl-btn.tgl-success.tgl-md(for='demo4')
								.tg-list-item.mrb-5
									input.tgl.tgl-flip(id="demo5", type='checkbox', checked)
									label.tgl-btn.tgl-danger.tgl-md(for='demo5', data-tg-off='NO' data-tg-on='YES')
						.col-xs-4
							.tg-list
								.tg-list-item.mrb-5
									input.tgl.tgl-flat(id="demo6", type='checkbox', checked)
									label.tgl-btn.tgl-amethyst.tgl-sm(for='demo6')
									label.tgl-text(for='demo6') Demo Text
								.tg-list-item.mrb-5
									label.tgl-text(for='demo7') Demo Text
									input.tgl.tgl-light(id="demo7", type='checkbox', checked)
									label.tgl-btn.tgl-voted.tgl-sm(for='demo7')
								.tg-list-item.mrb-5
									input.tgl.tgl-flip(id="demo8", type='checkbox', checked)
									label.tgl-btn.tgl-danger.tgl-sm(for='demo8', data-tg-off='NO' data-tg-on='YES') 
	h4.mrt-1r.mrb-1r Ribbon Button
	.row
		.col-sm-12
			.box.free-size
				.box-content.padding.padding-large(style="min-height:100px")
					.row.pdl-2r
						.col-sm-2
							.ribbon.ribbon-danger
								.ribbon-text Popular
						.col-sm-2
							.ribbon.ribbon-warning
								.ribbon-text Popular
						.col-sm-2
							.ribbon.ribbon-success
								.ribbon-text Popular
						.col-sm-2
							.ribbon.ribbon-primary
								.ribbon-text Popular
						.col-sm-2
							.ribbon.ribbon-amethyst
								.ribbon-text Popular
						.col-sm-2
							.ribbon.ribbon-turquoise
								.ribbon-text Popular
	h4.mrt-1r.mrb-1r Modal 
	.row 
		.col-sm-12
			.box.free-size
				.box-content.padding.padding-large
					p 
						button.btn.btn-danger((click)="DemofirstModal.open()") Open Modal
						| 
						button.btn.btn-danger((click)="DemoSecondModal.open()") Open Modal
					modal(#DemofirstModal, title='Modal title')
						modal-header
							| Modal header content goes there.
						modal-content
							| Modal body content goes there.
						modal-footer
							button.btn.btn-primary((click)='DemofirstModal.close()') okay!
					modal(#DemoSecondModal, title='Modal title', cancelButtonLabel="cancel"
		        submitButtonLabel="Submit", [hideCloseButton]="true", modalClass="modal-lg modal-sm any-other-css-class")
						modal-content
							| Modal body content goes there.
	h4.mrt-1r.mrb-1r Alert
	.row
		.col-sm-12
			.box.free-size
				.box-content.padding.padding-large
					alert(dismissOnTimeout="1000000", type="danger", dismissible="true", closable="true") 
						strong Well done!
						| 
						| You successfully read this important alert message.
					alert(dismissOnTimeout="1000000", type="warning") 
						strong 
							i.icon.ion-alert-circled
							| 
							| Well done!
						| 
						| You successfully read this important alert message.
					alert(dismissOnTimeout="1000000", type="info")
						strong 
							i.icon.ion-help-circled
						| 
						| You successfully read this important alert message.
					alert(dismissOnTimeout="1000000", type="success")
						strong 
							i.icon.ion-information-circled
						| 
						| You successfully read this important alert message.
