doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 401 (UNAUTHORIZED)
    link(rel='stylesheet', type='text/css', href='/css/error.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
  body
    .page-wrap
      h1 401
      h2 unauthorized
      p Well, what to say. Hmm? Sorry ...
      p
        a(href='/') home
