doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 403 (FORBIDDEN)
    link(rel='stylesheet', type='text/css', href='/css/error.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
  body
    .page-wrap
      h1 403
      h2 forbidden
      p Area 51! I mean 403. I did not say 51 ...
      p
        a(href='/') home