doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 404 (NOT FOUND)
    link(rel='stylesheet', type='text/css', href='/css/error.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
  body
    .page-wrap
      h1 404
      h2 not found
      p These aren't the Droids you're looking for ...
      p
        a(href='/') home
