doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 500 (INTERNAL SERVER ERROR)
    link(rel='stylesheet', type='text/css', href='/css/error.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Lato')
  body
    .page-wrap
      h1 500
      h2 internal server error
      p The description of this error pretty much says it all ...
      p
        a(href='/') home
