/* CSS Document */

body{ min-width:768px;}

.wrapper{
	width:960px; 
	margin:0 auto;
}

body,
.space,
.footer{
	min-width:1024px;
}


.pad10{
	padding:10px;
}

/* Hooter */
.header{
	position:absolute; 
	left:0; 
	top:10px; 
	width:100%; 
	height:70px;
}

.header .wrapper{position:relative}

.header .overlay,
.header .content{
	width:100%; 
	height:70px;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}

.header .overlay{ 
	background:#fff;
	opacity:0.8;
	filter:alpha(opacity=80); 
}

.header h1{float:left;}

/*----------------------------------------*/


.section{ overflow:hidden; min-width:1024px;}

/* index */

.section .block_left{
	width:620px; 
	float:left;
	position:relative;
	height:100%;
}

.section .block_right{
	width:340px;
	float:right;
}


#index .block_left .box{
	width:480px;
	height:470px;
	margin-top:100px;
	position:relative;
}

#index .block_left .box .overlay_1,
#index .block_left .box .overlay_2{
	position:absolute;
	background:#fff;
}

#index .block_left .box .overlay_1{
	top:0;
	left:0;
	filter:alpha(opacity=60);
	opacity:0.6;
	height:100%;
	width:100%;
	z-index:1;
}

#index .block_left .box .overlay_2{
	opacity:0.8;
	filter:alpha(opacity=80);
	z-index:2;
}

#index .block_left .box .overlay_2,
#index .block_left .box .content{
	width:460px;
	height:450px;
	top:10px;
	left:10px;
}

#index .block_left .box .content{
	position:absolute;
	z-index:3;
}

#index .block_left .box .content .padleft{
	padding-left:70px;
}

#index .block_left .box .content .colorred{
	color:#ed1c24;
}

#index .block_left .box .content .nomargin{
	margin:0 0 10px 0;
	font-weight:bold;
}

#index .block_left .box .content  ul li{
	margin-bottom:5px;
}

#index .block_left .box .content .hotline{
	margin-top:20px;
}

#index .block_left .box .content .hotline .text{
	font-size:16px;
	font-weight:bold;
}

#index .block_left .box .content .hotline .number{
	font-size:36px;
	font-weight:bold;
	color:#ed1c24;
}

.section .block_right .ball{
	margin-left:10px;
	margin-top:140px;
	width:330px; 
	height:330px; 
	background:url(../images/round_background_02.png) center center no-repeat;
}

.section .block_right .ball .content{
	width:245px; 
	margin:0 auto;
}

.section .block_right .ball h3{
	padding:100px 0 10px 0; 
	margin:0;
}

.section .block_right .ball p{
	font-size:11px; 
	padding:0 10px;
	text-align:center;
	color:#fff7c4;
	font-style:italic;
}

/*------------------------------------------*/

/* Footer */

.footer{
	background:#000;
	padding:10px 0;
	overflow:hidden;
	color:#fff;
}

.footer .col1,
.footer .col2{
	width: 350px; 
	float:left;
	padding:8px 0 10px 10px;
	border-left:dotted 1px #fff;
	height:50px;
}

.footer .col1 p{
	padding:0; margin:10px 0 0 0;
}

.footer p{font-size:11px !important ;}

.footer .col2 .label{
	width:80px; 
	float:left;
}

.footer .col2 .info{
	width:270px; 
	float:right
}


.footer .col3{
	text-align:right; 
	background:#fff;
	width:200px;
	float:right;
}

.space{
	height:20px;
	background:#fff; 
	
}

.footer .mailto{
	color:#fff;
}

/*---------------------------------*/

/* page */


.page .section .wrapper{
	position:relative;
	height:100%;
}

.page .section .main{
	width:960px; 
	height:480px;
	position:absolute;
	margin-top:100px;
}

.page .section .box{
	position:relative;
	width:100%; height:100%;
}

.page .section .overlay{
	background:#fff;
	position:absolute;
}

.page .section .overlay_1{
	height:100%;
	width:100%;
	opacity:0.5;
	filter:alpha(opacity=50); 
	z-index:1;
}

.page .section .overlay_2{
	height:460px;
	width:940px;
	opacity:0.7;
	filter:alpha(opacity=70); 
	z-index:2;
	left:10px;
	top:10px;
}

.page .section .content{
	width:940px; 
	height:460px;
	position:absolute;
	top:10px;
	left:10px;
	z-index:3;
}

.page .section .content p{padding: 0 0 0 10px;}

.page .section .content h3.heading{
	font-size:18px;
	font-weight:bold;
	padding:20px 10px 10px 10px;
}



/* dummy */

#dummy .wrapper{
	width:600px;
	position:relative;
	height:100%;
}

#dummy .wrapper .overlay,
#dummy .wrapper .content{
	width:100%; 
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

#dummy .wrapper .overlay{
	background:#fff;
	opacity:0.7;
	filter:alpha(opacity=70);
	z-index:1;
}


#dummy .wrapper .content{
	z-index:2;
	text-align:center;
	height:620px;
	margin-top:-310px;
	top:50%;
}

#dummy .wrapper .content h1{
	margin:0 0 20px 0;
	background:#fff;
}

#dummy .wrapper .content p{
	font-size:20px;
}

#dummy .wrapper .content .colorred{
	color:#F00;
	font-weight:bold;
}


#dummy .wrapper .content .date,
#dummy .wrapper .content .nopad{
	margin:0;
}



#dummy .wrapper .content .p10{padding:0 10px;}

/* Dummy VN */
.dummyvn .section .content{
	font-family:Arial, Helvetica, sans-serif;
}

.dummyvn .date{font-size:38px !important; padding-bottom:20px;}

.dummyvn .address,
.dummyvn .phone{
	font-size:16px !important; 
}

/* Service */

#service .section .wrapper,
#service .main{width:720px;}

#service .main{
	height:447px;
}

#service .section .overlay_2,
#service .section .content{
	height:427px;
}

#service .main .overlay_2,
#service .main .content,
#service .main .content .scrollbar{width:700px;}

#service .content p{padding:0;}

#service .content .image_l{
	padding-left:0px;
}

#service .image_l{
	margin:0 20px 0 0 ;
}

#service .content .right_box{
	width:350px; 
	float:left;
	padding:5px 0 0 0px;
}

#service .content .list{
	background:url(../images/bullet.png) left 7px no-repeat;
	padding-left:12px;
	text-align:justify;
}

#service .content .balls p{
	float:left;
	margin-left:10px;
}
#service .content .balls p.first{margin-left:0;}


/* product */

#product .section .wrapper,
#product .main{width:810px;}

#product .main .overlay_2,
#product .main .content,
#product .main .content .scrollbar{width:790px;}

#product .row_1{
	margin: 0;
	overflow: hidden;
	background:#fff;
}

#product .row_1 .text1,
#product .row_1 .text2{
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	color:#ed1c24;
	font-style:italic;
	margin:0;
}

#product .row_1 .text1{
	margin-top:10px;
}

#product .row_1 .text1 span{
	font-style:normal;
	font-size:24px;
	color:#000;
}

#product .row_1 .text2{
	padding-left:10px;
}

#product .row_1 .block1,
#product .row_1 .block2{
	margin-top:20px;
}
#product .row_1 .block1{
	width:440px; 
	float:left;
}

#product .row_1 .block1 .balls{
	margin-top:20px;
}

#product .row_1 .block1 .balls p{
	width:100px; 
	height:100px;
	float:left;
	
}

#product .row_1 .block1 .galleries{
	margin-top:20px;
}

#product .row_1 .block1 .galleries p{
	width:135px; 
	height:87px;
	float:left;
}

#product .row_1 .block2{
	margin-left:10px;
	width:315px;
	float:left;
}

#product .row_2{
	margin-top:20px;
	background:#fff;
	overflow:hidden;
	padding:10px 0 0 0 ;
}

#product .row_2 .col{
	width:182px; 
	height:175px;
	float: left;
	background:#dadada;
	margin-left:10px;
	margin-bottom:10px;
}

#product .row_2 .col p{padding:0; margin:0;}

#product .row_2 .col .title{height:65px;}

#product .row_2 .col .title ul li,
#product .row_2 .col .title p{font-size:11px;}

#product .row_2 .col .title p{text-align:center;padding-top:10px;}

#product .row_2 .col2 .title ul{margin-left:60px;}

#product .row_2 .col3 .title ul{margin-left:70px;}

#product .row_2 .col4 .title p{padding:10px 50px;}

#product .row_2 .col5 .title p{padding:10px 20px;}

#product .row_2 .col6 .title p{padding:5px 10px;}

#product .row_2 .col7 .title p{padding:10px 10px;}

#product .row_2 .col8 .title ul{margin-left:20px;}

#product .row_3{
	margin-top:20px; 
	background:#fff;
}


/* Coupons */

#coupons .section .wrapper,
#coupons .main{width:720px;}

#coupons .main{
	height:337px;
}

#coupons .section .overlay_2{
	opacity:1;
	filter:alpha(opacity=100);
}

#coupons .section .overlay_2,
#coupons .section .content{
	height:317px;
}

#coupons .main .overlay_2,
#coupons .main .content,
#coupons .main .content .scrollbar{width:700px;}

#coupons .section .content{
	overflow:hidden;
}

#coupons .section .content p{padding:0; margin:0;}

#coupons .main .content .text{
	width:350px;
	float:left;
	margin:35px 0 20px 10px;
}

#coupons .main .content .map{
	width:320px;
	float:right;
	margin-right:10px;
	margin-top:20px;
	margin: 20px 10px 20px 0;
	text-align:right;
}

#coupons .main .content  .coupon_img{
	margin-left:10px;
}

#coupons .main .content  .center{
	text-align:center;
}


/* Map */
/*
#map{
	position:fixed;
	z-index:20;
	left:50%;
	width:960px;
	margin-left:-480px;
	height:768px;
	top:100px;
}
#map .box{
	width:100%;
	height:100%;
	position:relative;
}
#map .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.5;
	filter:alpha(opacity=50); 
	background:#fff;
	z-index:1;
}

#map .content{
	position:absolute;
	top:10px;
	left:10px;
	width:940;
	height:100%;
	z-index:2;
	overflow:hidden;
}

*/

