.scrollbar{
	width:940px;
	height:100%;
	overflow:hidden;
}
.scrollbar.noborder{border:none;}
	  
/* ---------- basic theme: these are the most necessary styles --------------------------------- */

.scrollbar-pane {
    margin-right: 20px;
}

.scrollbar-handle-container {
    background: #EEE;
    width: 20px;
}

.scrollbar-handle {
    width: 20px;
    background: #999;
}

.scrollbar-handle:hover {
    background: #666;
}

.scrollbar-handle.move {
    background: #111;
}

.scrollbar-handle-up {
    width: 20px;
    height: 20px;
    background: #DDD;
}

.scrollbar-handle-up:hover {
    background: #666;
}

.scrollbar-handle-down {
    width: 20px;
    height: 20px;
    background: #DDD;
}

.scrollbar-handle-down:hover {
    background: #666;
}


/* ---------- advanced theme --------------------------------------------------------------------- */


.advanced .scrollbar-pane {
    margin-right: 10px;
}

.advanced .scrollbar-handle-container {
    background: #EEE;
    width: 10px;
}

.advanced .scrollbar-handle-container.hover,
.advanced .scrollbar-handle-container.move {
    background: #E6E6E6;
}

.advanced .scrollbar-handle, 
.advanced .scrollbar-handle-up, 
.advanced .scrollbar-handle-down {
	
}


/* handle */
.advanced .scrollbar-handle {
    width: 8px;
    border: 1px solid #ed1c24;
	background-color: #ed1c24;
}

.advanced .scrollbar-handle:hover {
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
	
}

.advanced .scrollbar-handle.move {
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
	
}


/* arrow up */
.advanced .scrollbar-handle-up {
    width: 0;
    height: 0;
    border: 0px solid #CCC;
    background-color: #CCC;
	margin-bottom: 0px;
}

.advanced .scrollbar-handle-up.hover,
.advanced .scrollbar-handle-up:hover {
    border: 0px solid #666;
}

.advanced .scrollbar-handle-up.move {
    background-color: #999;
}


/* arrow down */
.advanced .scrollbar-handle-down {
    width: 0;
    height: 0;
    border: 0px solid #CCC;
    background-color: #CCC;
	margin-bottom: 0px;
}

.advanced .scrollbar-handle-down.hover,
.advanced .scrollbar-handle-down:hover {
    border: 0px solid #666;
}

.advanced .scrollbar-handle-down.move {
    background-color: #999;
}


