.bn-policy .imagehome {
  min-height: 130px;
  background-image: url("../../images/policy/img_01-xs.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .bn-policy .imagehome {
    background-image: url("../../images/policy/img_01-sm.jpg");
    min-height: 180px;
  }
}

@media (min-width: 768px) {
  .bn-policy .imagehome {
    background-image: url("../../images/policy/img_01.jpg");
    min-height: 245px;
  }
}

@media (min-width: 992px) {
  .bn-policy .imagehome {
    min-height: 290px;
    margin-top: -0.5rem;
  }
}

@media (min-width: 768px) {
  .bn-policy .list {
    margin-left: 6rem;
  }
}

.bn-policy .list h2 {
  -ms-box-shadow: inset 0 -3px 0 0 #dbdbdb;
  -o-box-shadow: inset 0 -3px 0 0 #dbdbdb;
  box-shadow: inset 0 -3px 0 0 #dbdbdb;
  font-size: 1.8rem;
  line-height: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.bn-policy .list h2 span {
  font-size: 1.8rem;
  line-height: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}

.bn-policy .list h2 span.pink {
  -ms-box-shadow: inset 0 -3px 0 0 #D57B85;
  -o-box-shadow: inset 0 -3px 0 0 #D57B85;
  box-shadow: inset 0 -3px 0 0 #D57B85;
}

.bn-policy .list h2 span.blue {
  -ms-box-shadow: inset 0 -3px 0 0 #6693C6;
  -o-box-shadow: inset 0 -3px 0 0 #6693C6;
  box-shadow: inset 0 -3px 0 0 #6693C6;
}

.bn-policy .list h2 span.cyan {
  -ms-box-shadow: inset 0 -3px 0 0 #5BB6B3;
  -o-box-shadow: inset 0 -3px 0 0 #5BB6B3;
  box-shadow: inset 0 -3px 0 0 #5BB6B3;
}

.bn-policy .list ul {
  font-size: 1.3rem;
}
