.bn-recruit .imagehome {
  min-height: 130px;
  background-image: url("../../images/recruit/img_01-xs.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .bn-recruit .imagehome {
    background-image: url("../../images/recruit/img_01-sm.jpg");
    min-height: 180px;
  }
}

@media (min-width: 768px) {
  .bn-recruit .imagehome {
    background-image: url("../../images/recruit/img_01.jpg");
    min-height: 245px;
  }
}

@media (min-width: 992px) {
  .bn-recruit .imagehome {
    min-height: 290px;
    margin-top: -0.5rem;
  }
}

.bn-recruit .list .table tbody th {
  font-weight: bold;
}

.bn-recruit .list .nav .nav-item.home {
  background: url("../../images/news/img_menu.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1rem;
}

.bn-recruit .list .nav .nav-item.home img {
  visibility: hidden;
  max-height: 3rem;
}

.bn-recruit .list .nav .nav-item.home h2 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 3rem;
  font-weight: bold;
}

.bn-recruit .list .nav .nav-item .nav-link {
  color: #000000;
  font-size: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .bn-recruit .list .nav .nav-item .nav-link {
    padding-top: 0.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
  }
}

.bn-recruit .list .nav .nav-item .nav-link:hover {
  text-decoration: underline;
}

.bn-recruit .list .childnum > .nav > .nav-item strong {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.bn-recruit .list .childnum > .nav > .nav-item:first-child {
  width: 215px;
}

@media (min-width: 768px) {
  .bn-recruit .list .childnum > .nav > .nav-item:last-child {
    padding-top: 0.5rem;
  }
}

.bn-recruit .list .childnum > .nav .nav > .nav-item:first-child {
  background: #c9c9c9;
  width: 75px;
  text-align: center;
}

.bn-recruit .list .childnum > .nav .nav > .nav-item:first-child strong {
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  .bn-recruit .list .childnum > .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .bn-recruit .list .childnum > .nav > .nav-item:first-child {
    width: initial;
    margin-bottom: .5rem;
  }
}
