.bn-vision .imagehome {
  min-height: 130px;
  background-image: url("../../images/vision/img_01-xs.jpg");
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .bn-vision .imagehome {
    background-image: url("../../images/vision/img_01-sm.jpg");
    min-height: 180px;
  }
}

@media (min-width: 768px) {
  .bn-vision .imagehome {
    background-image: url("../../images/vision/img_01.jpg");
    min-height: 245px;
  }
}

@media (min-width: 992px) {
  .bn-vision .imagehome {
    min-height: 290px;
    margin-top: -0.5rem;
  }
}

.bn-vision .list h3 {
  font-size: 1.3rem;
  font-weight: 600;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: .5rem;
}
