extends ../variable/jade/_template.jade
//- http://demo.deviserweb.com/cv/
//- http://www.themezaa.com/html/resume/default/index.html?page=portfolio
//- http://demo2.pixflow.net/profession-html/
//- http://www.themezaa.com/html/resume/
block body
	body.about-page
		main
			include ../variable/jade/_nav.jade
			#page-wrap.clearfix
				.post.block-1
					.boxcnt
						.boxleft.filter(bg-img="img/sm-slider-01.png")
						.boxright.bg-main.padding
							h3.text-uppercase.mrb-0
								| Bao Nguyen Yam
							p.text-voted.mrb-2r Pham Nguyen Bao Nguyen
							p Tôi đã từng khóc khi không có giày để mang và thôi không khóc nữa khi thấy một người không có chân mang giày.
							p.text-right.mrt-3r
								i(bn-sign)
				.post.block-2
					.boxcnt
						.boxleft.bg-con.padding.w40
							h3.text-uppercase.mrb-2r
								| Graphic Designer
							.lightgallery
								- for (var x = 1; x < 13; x++)
									a.hvr-glow(href='img/album/slide_#{x}.jpg')
										figure(bg-img='img/album/slide_#{x}.jpg')
											img(src="img/album/slide_#{x}.jpg")
										
						.boxright.bg-warning.padding.w60
							h3.text-uppercase.mrb-2r
								| Front-End Developer
							p
								span.text-replace2
				.post.block-3
					.boxcnt
						.boxleft.bg-turquoise.w70
							section#gmap_canvas.gmap.map
								.Lat 10.359352
								.Lng 106.673089
								.MarginLat -0.0050
								.MarginLng 0
								.imgMap img/logo_map.png
								address 211A Ngô Tùng Châu, Gò Công, Tiền Giang, Việt Nam
								.infoWindow
									h3 Bao Nguyen 
									p
										strong Tại Tiền Giang :
										br
										|  211A Ngô Tùng Châu, KP.3, P.1, Gò Công
										br
										|  Email: baonguyenyam@gmail.com
										br
										|  Tel : 
										a(href='tel:+84969689893', onclick="_gaq.push(['_trackEvent', 'Mobile', 'Click to Call'])") 0.9696.8989.3
								.mapStyle 1
								.mapZoom 15
								.scrollwheel false
								.draggable false
								.disableDefaultUI true
						.boxright.bg-con3.padding.w30
							h3.text-uppercase.mrb-2r.text-center
								| Contact 
							.cnt
								.textop.text-center
									.avatar(bg-img="img/3.jpg")
									//- h4.hvr-buzz Pham Nguyen Bao Nguyen
									p baonguyenyam@gmail.com
									hr
									ul.nav.nav-inline
										li.nav-item
											a.nav-link.hvr-float-shadow(href='https://www.facebook.com/pham.nguyen.bao.nguyen')
												i.mdi.mdi-facebook-box
										li.nav-item
											a.nav-link.hvr-float-shadow(href='https://github.com/baonguyenyam')
												i.mdi.mdi-github-box
			//- .bgset
			//- .bgcontent
			//- 	.bg
			//- 		.avatar(bg-img="img/3.jpg")
			//- 	.cnt
			//- 		.textop.text-center
			//- 			h1.hvr-buzz Pham Nguyen Bao Nguyen
			//- 			.lead baonguyenyam@gmail.com
			//- 			hr
			//- 			ul.nav.nav-inline
			//- 				li.nav-item
			//- 					a.nav-link.hvr-float-shadow(href='https://www.facebook.com/pham.nguyen.bao.nguyen')
			//- 						i.mdi.mdi-facebook-box
			//- 				li.nav-item
			//- 					a.nav-link.hvr-float-shadow(href='https://github.com/baonguyenyam')
			//- 						i.mdi.mdi-github-box
			
		script(src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
		include ../variable/jade/_script.jade