extends ../variable/jade/_template.jade
block body
    body.about-page
        main
            include ../variable/jade/_nav.jade
            .bgset
            .bgcontent
                .bg
                    .avatar(bg-img="img/3.jpg")
                .cnt
                    .textop.text-center
                        h1.hvr-buzz Pham Nguyen Bao Nguyen
                        .lead baonguyenyam@gmail.com
                        hr
                        ul.nav.nav-inline
                            li.nav-item
                                a.nav-link.hvr-float-shadow(href='#')
                                    i.mdi.mdi-facebook-box
                            li.nav-item
                                a.nav-link.hvr-float-shadow(href='#')
                                    i.mdi.mdi-github-box
                            li.nav-item
                                a.nav-link.hvr-float-shadow(href='#')
                                    i.mdi.mdi-google-plus-box
                      
        include ../variable/jade/_script.jade