extends ../variable/jade/_template.jade
block body
	body.gallery-page
		.scrollbar-dynamic.wrapper
			include ../variable/jade/_header.jade
			main
				.gallery-body 
					h1 My Albums
					#freewall
						- for (var x = 1; x < 43; x++)
							.brick.hvr-glow.hvr-bob.lightgallery(style="width:200px")
								a(href='img/album/slide_#{x}.jpg')
									img(src='img/album/slide_#{x}.jpg')

			//- include ../variable/jade/_footer.jade
		include ../variable/jade/_script.jade