extends ../variable/jade/_template.jade
block body
    section.homesite
        .spinner-circle
        .spinner-circle2
            div
            div
            div
            div
            div
        .dynamictext
            .item safsafdsafsadf sa