extends ../variable/jade/_template.jade
block body
    body.home-page
        main
            section.home-site
                .bg(bg-img-responsive="img/map-bg.png" bg-img-responsive-sm="img/sm-map-bg.png")
                include ../variable/jade/_nav.jade
                .areas
                    .item
                        .cnt
                            .pulsating-circle
                            .summary
                                .text-con2 Brands Designer
                    .item
                        .cnt
                            .pulsating-circle
                            .summary
                                .text-con3 Web Developer
                    .item
                        .cnt
                            .pulsating-circle
                            .summary
                                .text-con4 Apps Developer
                .spinner-circle
                .spinner-circle2
                    div
                    div
                    div
                    div
                    div
                #particles-js
                .typings
                    .typing

        include ../variable/jade/_script.jade
