extends ../variable/jade/_template.jade
block body
    body.home-page
        main
            section.home-site
                .spinner-circle
                .spinner-circle2
                    div
                    div
                    div
                    div
                    div
                .dynamictext
                .item safsafdsafsadf sa
        include ../variable/jade/_script.jade
