extends ../variable/jade/_template.jade
block body
	body.poetry-page
		.scrollbar-dynamic.wrapper
			include ../variable/jade/_header.jade
			main
				.poetry-body 
					h1 Vũ trung chi chúc thi tập
					#freewall
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 "Thơ lỗi" .... "Thôi lỡ"!'
								p 
									| Bài thơ còn viết dở dang
									br
									| Dòng tư tưởng cạn đôi hàng chưa xong
									br
									| Gác nghiên khép tập giấy hồng
									br
									| Chữ xanh có nhạt vẫn nồng ngát hương
									br
									| Gửi người em gái viễn phương
									br
									| Cùng anh xướng-họa thơ Đường làm vui
									br
									| Yêu thơ yêu lắm ngậm ngùi
									br
									| Ngổn ngang đối, luật sụt sùi vấn niêm
									br
									| Phải gì một lỗi vần thêm
									br
									| Phải chi suôn sẽ êm đềm đôi câu
									br
									| Hỏng trong ý nguyện câu đầu
									br
									| Hỏng cả nhị tứ lục hầu phân minh
									br
									| Hỏng hỏng hỏng hỏng tươm tinh
									br
									| Muốn nhoà ức dọc cho mình hả hê
									br
									| Yêu thơ yêu lắm ê chề
									br
									| Vần thơ chẳng đặng thực đề bỏ ngang
									br
									| Xin ai yêu nét trăng vàng
									br
									| Cho xin đôi chữ mơ màng đắm say
									br
									| P/S: 
									br
									| Viết cho thế sự đã rồi 
									br
									| Viết bài thơ hỏng nên ngồi xuýt xoa
								.date 
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Nấc thang.....
								figure 
									img(src="img/poetry/01.jpg", alt="")
								p
									| Ta muốn bước lên thêm bước nữa
									br
									| Nhưng ngại ngùng hai nấc bậc thang
									br
									| Nấc mang nguy hiểm rõ ràng
									br
									| Nấc thời ẩn chứa vô vàn nỗi lo.
									br
									br
									| Chẳng lẽ bỏ không theo lên đó
									br
									| Chẳng lẽ đành phó mặc cho xong
									br
									| Nấc thang ai để thử lòng
									br
									| Nấc thang ai để giữa phòng quạnh hiu
								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Say mắt 
								p 
									| Cánh phượng vàng trong đôi mắt miên man
									br
									| Vừa chớm động vỡ tan từng bất chợt
									br
									| Đưa quanh phố chở vô vàn thưa thớt
									br
									| Mang thẫn thờ trong gió dạt dào ca
									br
									br
									| Là cánh nhung em lén trộn chan hoà
									br
									| Thêm say đắm gửi buông làn ánh nguyệt
									br
									| Đơn sơ giữa vạn hương nồng sắc biệt
									br
									| Vẻ ơ thờ đương vây lấp tường minh
									br
									br
									| Một nét xinh vương chạm vẻ đa tình
									br
									| Theo lưu thuỷ nguyện trao mình hứa hẹn
									br
									| Thoả kiêu sa nửa e thùng ấp thẹn
									br
									| Một thoáng nhìn ngơ ngây ngất từng phen
								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 Kén chọn
								figure 
									img(src="img/poetry/03.jpg", alt="")
								p
									| Đương xuân, đặng sắc ra kiêu hãnh
									br
									| Đến độ thu vàng mảnh tàn không
									br
									| Xuân thì cái thuở còn chong
									br
									| Má hồng mặt phấn tình rong đuổi tình
									br
									br
									| Ta hỏi sắc: mấy từ là hiếm?
									br
									| Ta hỏi tình: mấy độ tình chung?
									br
									| Xuân thì cái thuở mong lung
									br
									| Hương tàn, phai sắc tình run rẩy tình...

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 Lạnh thêm
								p
									| Tôi muốn vẽ cho ấm hồng cuộc sống
									br
									| Tôi muốn lòng nhẹ nhỏm những ưu tư
									br
									| Muốn yêu thương tha thiết chẳng chần chừ
									br
									| Muốn hờn tủi biến tan... là quá khứ
									br
									br
									| Ôi gác lạnh trong những ngày xa xứ
									br
									| Ôm chiếc đàn tôi hát tiếng yêu em
									br
									| Văng vẳng xa tiếng bước khẽ bên thềm
									br
									| Đêm tĩnh mịch thắt lòng người thêm tủi
									br
									br
									| Chẳng buồn muốn đốt thêm vài thước củi
									br
									| Lòng lặng rồi, đêm lạnh có là bao?
									br
									| Lạnh làm vui cho ký ức dâng trào
									br
									| Ngân khúc nhạt nghẹn ngào miền xứ lạ.
									br
									br
									| Bao yêu dấu đến nay thời xa quá
									br
									| Nối cung đàn lưu luyến những ngày qua
									br
									| Đọng trong ta bao tường tận, nua già
									br
									| Là vốn quí, là thói đời sa ngã

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 Ngóng Xuân!
								figure 
									img(src="img/poetry/04.jpg", alt="")
								p
									| Tận đâu gió thoảng một mùi hương
									br
									| Én lộng giăng đăng cả lối vườn
									br
									| Ánh mắt buông xuôi tầm tiếc nhớ
									br
									| Bờ môi ướt đẫm thắm khôn lường
									br
									br
									| Mai hời hợt thuở đương xuân sắc
									br
									| Dưa ngẩn ngơ về lúc hạ thương
									br
									| Xuân đến trong xuân là quá nửa
									br
									| Đông về đong lại chút tình vương

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 Ước
								p
									| Ước gì ta là đá
									br
									| Để ném tặng người xa
									br
									| Ước gì ta là hoa
									br
									| Dịu dàng đầy hương sắc
									br
									| Ước gì không còn mắt
									br
									| Thôi phải nhận và trông
									br
									| Ước gì là hư không
									br
									| Để chẳng lòng nhung nhớ
									br
									| Ước gì là hơi thở
									br
									| Xin trút một lần thôi
									br
									| Ước gì là tường vôi
									br
									| Phủ yêu mình dưới mộ
									br
									| Ước ước từ mất độ
									br
									| Giờ biết ngộ từ nan...

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 Chơi face, phơi thây
								p
									| Luyện chơi face cho đến cõi niết bàn
									br
									| Ngày vắng bóng liệu tên chàng ai nhớ?
									br
									| Đã bật feed chẳng comment là dở
									br
									| Vô vi đời vật vã đốt thời gian
									br
									br
									| Hỏi cô em bật status mơ màng
									br
									| Tìm anh bạn thuở cơ hàn thương mến
									br
									| Dòng chat có vĩnh sinh cùng số mệnh?
									br
									| Mà tháng ngày ta cứ mãi face ơi!!!

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic
								h4 DJ
								figure 
									img(src="img/poetry/05.jpg", alt="")
								p
									| Nụ cười giữ mãi không thôi
									br
									| Vùi trong tiếng nhạc xa rồi lặng yên
									br
									| Nét xinh hòa với ưu phiền
									br
									| Lạc từ trong ánh cuồng điên xập xình
									br
									| Chọn vui nào để mưu sinh
									br
									| Áo hoa, mặt phấn duyên tình ta đi
									br
									| Nổi danh tài sắc một thì
									br
									| Thướt tha rộn rã kém gì yến anh
									br
									| Hồng nhan ấy... nỗi mong manh
									br
									| Về trong tiếng bước riêng dành riêng ta
									br
									| Nhớ về tiếng nhạc xa hoa
									br
									| Nhớ cho một kiếp ta là DJ

								.date (Xin mượn ý thơ về Đạm Tiên vậy!)
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Đợi mình 
								p
									| Mấy độ từ xuân quá mơ màng
									br
									| Lạnh về mang gửi lắm lo toan
									br
									| Tiếc thuở yêu rong, tình đuổi... cạn
									br
									| Xuân này đâu đợi những từ nan!

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Yêu muộn
								figure 
									img(src="img/poetry/07.jpg", alt="")
								p
									| Phải chăng đây từ biển ngàn sóng gọi
									br
									| Lòng đá buồn trơ trọi ngắm hoàng hôn
									br
									| An duyên ôi, mộng dáng đến ru hồn
									br
									| Nhiên duyên chở mối tơ về bến mộng
									br
									br
									| Yêu khi chớm nửa trăng tình khuấy động
									br
									| Chết trăm lần theo lưu thuỷ vờn trôi
									br
									| Mất bao năm lỗi hẹn với duyên rồi
									br
									| Thôi mưa cũng mãi xin ngồi đón đợi.

								.date Cảm ý bài Ca dao em và tôi của nhạc sĩ An Thuyên 
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Mèo em nhé!
								figure 
									img(src="img/poetry/06.jpg", alt="")
								p 
									| Tôi ước mãi tôi có ngàn diệu phép
									br
									| Hóa em thành một thân kiếp xinh yêu
									br
									| Dáng dấp em sao bé nhỏ yêu kiều
									br
									| Bờ môi khép xin chiếm hồn ai đó
									br
									br
									| Mèo em nhé! anh muốn hờn thật khó
									br
									| Để em buồn anh vuốt chải hàng mi
									br
									| Để em vui bên giấc ngủ li bì
									br
									| Để em dỗi anh dám nào hoan hỉ.
									br
									br
									| Mèo em nhé! ta mãi là tri kỷ
									br
									| Anh mãi là lưu thủy dọc đường đi
									br
									| Anh mãi yêu nét đẹp thuở xuân thì
									br
									| Anh mãi nhớ, giữ hơi dài thế kỷ.
									br
									br
									| Mèo em nhé! em cứ mèo em nhé
									br
									| Nhánh tơ hồng trong giấc mộng vời xa
									br
									| Gặp nhau thôi đã như trẻ trông quà
									br
									| Bùm! Hô biến! anh hóa mèo em nhé.
								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 
								p Khúc đời ca 2
									| Bài thơ hay nào vần câu ưng nửa
									br
									| Khúc nhạc buồn từ mấy độ mà vương
									br
									| Thuở trăng cao buông ánh dạo phi thường
									br
									| Trong thanh vắng bể muôn ngàn sóng gọi
									br
									br
									| Khúc đời ca đã bao mùa hát vội
									br
									| Vẫn âm từ vẫn câu chữ còn sai
									br
									| Vẫn loay hoay chọn âm tiết cho bài
									br
									| Là con tạo mãi xoay vần thêm sửa
									br
									br
									| Đôi áo hoa đan biết chừ nên lụa
									br
									| Thất bảo hồng thêm mối mọt ngày qua
									br
									| Đặng bôn ba bỏ thanh vắng quê nhà
									br
									| Ôi ca khúc của hương trà phai lá

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Đò muộn
								p
									| Lỡ chẹt buông chân quá quá tầm
									br
									| Vẫy hời kêu thể thỏa hờn căm
									br
									| Ba mươi nước kể trăng tàn nét
									br
									| Bảy buổi mây than bão thét gầm
									br
									br
									| Chim bay mới đó giờ hun hút
									br
									| Gió thổi mạn đò mãi biệt tăm
									br
									| Qua sông mới biết mong xuôi gió
									br
									| Giận lắm bây chừ ruột tím thâm.


								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Đùa chơi, đời chua.
								p
									| Chứa chan Bát cú chán chưa mi?
									br
									| Ông Tú khuyên tôi bỏ chữ gì?
									br
									| Gói gém ba dòng đâu hết ý
									br
									| Mài mò cặp đối chẳng ra chi
									br
									br
									| Canh niêm lại luật sai dòng mất
									br
									| Chỉnh đối thì vần hỏng nghĩa đi
									br
									| Lục Tứ Nhị phân minh khổ nạn
									br
									| Lỗ hang Đường Luật Hổ Lang lì.


								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Mộc
								p
									| Đơn sơ hỡi bớt đi từng quyến rũ
									br
									| Nét dung trầm phai nhòa giúp vài phân
									br
									| Thỏa ngây ngô theo những bước thiên thần
									br
									| Âm hơi khẽ ngỡ đâu ngàn tiếng gọi
									br
									br
									| Là em đó ngát lòng ta mấy đỗi
									br
									| Chẳng kiêu kỳ sao lại quá sầu tương?
									br
									| Để dương trần trăm vạn mối tơ vương
									br
									| Anh vẫn thấy chúng vô thường đến vậy
									br
									br
									| Là em đấy khiến lòng anh sóng dậy
									br
									| Những yên bình đâu rồi những ngày mơ?
									br
									| Ánh mắt nhung đan đậm vẻ ơ thờ
									br
									| Còn đâu nữa ý thơ này trơ trổng
									br
									br
									| Là em đấy chuốc say hồn hư hỏng
									br
									| Anh tiếc đời tiếc tan vỡ từng giây
									br
									| Anh ước chi anh chẳng biết nơi này
									br
									| Để chưa phải vấn vương ngày mong mỏi


								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Khúc đời ca
								figure 
									img(src="img/poetry/02.jpg", alt="")
								p
									| Ba mươi tuổi biết nào thời xa xứ
									br
									| Chút cho gì ôm ru khúc đời ca
									br
									| Khúc đời ca êm dịu ngất hồn xa
									br
									| Ly tiễn biệt ngỡ như vừa mới cạn.
									br
									br
									| Ôi năm tháng nét nhăn vầng trên trán
									br
									| Đôi vai gầy, tim đơn mộc là đây
									br
									| Một giấc nồng ba giấc mộng còn say
									br
									| Bước danh vọng thí tài là thuở ấy!
									br
									br
									| Trăm con ngỡ cuốn con đời trôi chảy
									br
									| Biết đâu nguồn xa trăm cách nghìn xa
									br
									| Mộng đêm qua một tâm khúc ơi... à
									br
									| Ru em nhé hỡi con đò xuôi ngược
									br
									br
									| Bao mong mỏi rạng ngời thôi dừng bước
									br
									| Trên biển tình kiếm được mấy người thương
									br
									| Ngồi đón mưa nghe bao nỗi vô thường
									br
									| Xin chút ngọt rớt rơi hằn trên má

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Hương tàn!
								p
									| Ôi nhân sinh thiết tha mà gần gũi
									br
									| Nào cuộc đời là giấc mộng phù du
									br
									| Cánh chim hoang nặng vã dưới sương mù
									br
									| Đâu một cõi thiên thu về dĩ vãng?
									br
									br
									| Hoa vẫn sống chan hòa cùng năm tháng
									br
									| Buổi hương tàn đá cỏ mãi vương mang
									br
									| Ánh sao đêm gọi lá chút mơ màng
									br
									| E ngại nước để môi mềm thêm sáng
									br
									br
									| Nhân sinh hỡi! xót xa và bất mãn
									br
									| Bởi thân vàng là mấy đỗi hơn thua
									br
									| Vạn tâm toan đậm sau nét xinh thừa
									br
									| Buông ý ngọc vỡ ra đời tay ngửa
									br
									br
									| Ta vẫn sống để yêu đời thêm nữa
									br
									| Chốn dương trần tận hưởng buổi sương minh
									br
									| Chẳng mong gì trở lại kiếp lai sinh
									br
									| Về với muối, nước trời đầy bản ngã
								.date 
									| P/S: Cảm bài Thói Đời của Trúc Phương....
									br
									| Ta cười cho thế sự cười
									br
									| Ta vui trong những kẻ lười hóa trang
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Tiếc
								p
									| Có đôi lúc muốn rời xa tất cả
									br
									| Nhưng sợ rằng hối hả sẽ đau thương
									br
									| Bước rêu phong lặng cúi mặt bên đường
									br
									| Chân thoáng nặng vấn vương từng tấc cỏ
									br
									br
									| Đêm thức trắng trên gác nhìn trăng tỏ
									br
									| Những tâm tình ôi biết ngỏ cùng ai
									br
									| Sầu tiếc thương, lệ đứt nối lăn dài
									br
									| Trong giá lạnh hát thêm bài vô cảm


								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Kiếp ngại! Cái nghiệp
								p
									| Làm đâu quận nhất thật xa xôi
									br
									| Cái phận đeo mang cũng đã rồi
									br
									| Nhấp nháp ly cà phê nhạt khói
									br
									| Mài mò mấy đoạn code thâm môi
									br
									br
									| Tìm vui đem sống... còn thêm đợi!
									br
									| Lấy đẹp cho đời... chỉ để coi!
									br
									| Một xíu anh hào đâu quá nỗi
									br
									| Sao còn ghen tị với mây trời?.

								.date
						.brick(style="width:300px")
							.item.scrollbar-dynamic 
								h4 Yêu
								figure 
									img(src="img/poetry/08.jpg", alt="")
								p
									| Này yêu cho thỏa cái đam mê
									br
									| Để kiếm tìm thêm chút não nề
									br
									| Một kiếp rêu rao cùng tuế nguyệt
									br
									| Đâu rồi cái thuở cứ ngô nghê


								.date
						//- .brick(style="width:300px")
						//- 	.item.scrollbar-dynamic 
						//- 		h4 
						//- 		p
						//- 		.date
						//- .brick(style="width:300px")
						//- 	.item.scrollbar-dynamic 
						//- 		h4 
						//- 		p
						//- 		.date
			//- include ../variable/jade/_footer.jade
		include ../variable/jade/_script.jade