extends ../variable/jade/_template.jade
block body
  body.portfolio-page
    include ../variable/jade/_nav.jade
    canvas#canv
    .scrollbar-dynamic.wrapper
      main
        h2 My Skills
        blockquote.blockquote.text-left.mrt-5r.mrb-3r
          h3 PHẠM NGUYỄN BẢO NGUYÊN
          p Là người sáng lập ra chuỗi cty Tin học đầu tiên tại Gò Công, hiện đang là designer chuyên nghiệp cho các tập đoàn nước ngoài tại Việt Nam, hoạt động trong nhiều lĩnh vực như: Coding, Designer, Testing, Contents, Photo, Thư Pháp,  Âm nhạc, Hội họa…

        .container-fluid.mrt-4r
          .row
            .col-md-4
              img(src="img/baonguyen.jpg", alt="")
            .col-md-8.mrt-3r
              .skillbar.clearfix(data-percent='90%')
                .skillbar-title(style='background: #d35400;')
                  span HTML5
                .skillbar-bar(style='background: #e67e22;')
                .skill-bar-percent 90%
              // End Skill Bar
              .skillbar.clearfix(data-percent='90%')
                .skillbar-title(style='background: #2980b9;')
                  span SASS/LESS
                .skillbar-bar(style='background: #3498db;')
                .skill-bar-percent 90%
              // End Skill Bar
              .skillbar.clearfix(data-percent='80%')
                .skillbar-title(style='background: #2c3e50;')
                  span jQuery
                .skillbar-bar(style='background: #2c3e50;')
                .skill-bar-percent 80%
              // End Skill Bar
              .skillbar.clearfix(data-percent='40%')
                .skillbar-title(style='background: #46465e;')
                  span PHP
                .skillbar-bar(style='background: #5a68a5;')
                .skill-bar-percent 40%
              // End Skill Bar
              .skillbar.clearfix(data-percent='75%')
                .skillbar-title(style='background: #333333;')
                  span Angular
                .skillbar-bar(style='background: #525252;')
                .skill-bar-percent 75%
              // End Skill Bar
              .skillbar.clearfix(data-percent='80%')
                .skillbar-title(style='background: #27ae60;')
                  span Template
                .skillbar-bar(style='background: #2ecc71;')
                .skill-bar-percent 80%
              // End Skill Bar
              .skillbar.clearfix(data-percent='90%')
                .skillbar-title(style='background: #009688;')
                  span Photoshop
                .skillbar-bar(style='background: #00BCD4;')
                .skill-bar-percent 90%
              // End Skill Bar
              .skillbar.clearfix(data-percent='80%')
                .skillbar-title(style='background: #6839a2;')
                  span illustrator
                .skillbar-bar(style='background: #795d9c;')
                .skill-bar-percent 80%
              // End Skill Bar
        blockquote.blockquote.text-left.mrt-3r.mrb-3r
          p "Tôi đã từng khóc khi không có giày để mang và đã thôi không khóc nữa khi thấy một người không có chân để mang giày..."
        .bn-timeline BAO NGUYEN
        ul.timeline-both-side
          li
            .border-line
            .timeline-description
              h5.text-main GC Computer
              p Tôi đã từng làm việc tại công ty TNHH đầu tư và phát triển tin học Gò Công (GC Com Co.,Ltd) với vai trò là giám đốc công ty chuyên về phát triển ứng dụng Web và phụ trách mảng kinh doanh máy tính trong công ty.
              p.mrb-0.text-muted --- CEO
          li.opposite-side
            .border-line
            .timeline-description
              h5.text-main Net Viet., Ltd
              p Là một công ty công nghệ chuyên thiết kế các ứng dụng web cho các tập đoàn BĐS lớn như Phát Đạt, Hưng Thịnh... Tại đây tôi phụ trách phát triển các dự án Everich 
              p.mrb-0.text-muted --- Designer 
          li
            .border-line
            .timeline-description
              h5.text-main Freesale Vietnam 
              p Là một công ty 100% vốn Nhật bản tại đây tôi phụ trách quản lý 1 nhóm chuyên về cắt HTML, Web Responsive, Design… Song song đó với kinh nghiệm quản lý tôi hỗ trợ công ty trong công tác tuyển dụng và chấm bài test kỹ năng của ứng viên.
              p.mrb-0.text-muted --- Front-End/Design Teamleader  
          li.opposite-side
            .border-line
            .timeline-description
              h5.text-main Shinway Vietnam 
              p Là một công ty 50% vốn Nhật bản tại đây tôi chuyên trách về bộ phân tạo dựng bộ quản trị thương hiệu trích xuất HTML, Web Responsive, Design…
              p.mrb-0.text-muted --- Design Teamleader   
          li
            .border-line
            .timeline-description
              h5.text-main Cánh Cam
              p Cánh Cam là một trong những cty gia công phần mềm cho các tập đoàn lớn tại VN như SONY, Toshiba, Vinamilk, KinhDo, Sacombank, ACB, Hải Nam, Novaland, RITA Võ... 
              p.mrb-0.text-muted --- Front-End Developer 
          //-  li
          //-   .border-line
          //-   .timeline-description
          //-     h5.text-main 4XLabs
          //-     p Là một công ty đa quốc gia 
          //-     p.mrb-0.text-muted --- Front-End/Designer 
    include ../variable/jade/_script.jade